
<link rel="stylesheet" href="{{site.url}}/assets/css/style.css" type="text/css" />
<link href="https://fontastic.s3.amazonaws.com/8Qdq3qjYhFhJLC24tseVVc/icons.css" rel="stylesheet">
<script src="{{site.url}}/assets/bower_components/modernizr/modernizr.js"></script>
<meta name="twitter:card" content="app">
<meta name="twitter:description" content="A Mobile-first platform that connects Citizens with their Netas and Government officials for Open, Accessible and Accountable governance">
<meta name="twitter:app:country" content="India">
<meta name="twitter:app:name:googleplay" content="Meri Awaaz | my voice. my right.">
<meta name="twitter:app:id:googleplay" content="com.meriawaaz.mygap">
<meta name="twitter:app:url:googleplay" content="https://play.google.com/store/apps/details?id=com.meriawaaz.mygap">

<meta property="og:title" id="metatitle" content="Meri Awaaz | my voice. my right."/>
<meta property="og:image" id="metaimage" content="http://dl.dropboxusercontent.com/u/37351082/fb-logo.png"/>
<meta property="og:site_name" content="Meri Awaaz | my voice. my right."/>
<meta property="og:description" id="metacontent" content="A Mobile-first platform that connects Citizens with their Netas and Government officials for Open, Accessible and Accountable governance"/>
<meta property="og:type" content="website" />
<meta property="og:url" id="metaurl" content="http://meriawaazapp.com/" />
<meta property="fb:app_id" content="261087750752180" />

<link rel="icon" type="image/png" href="{{site.url}}/assets/images/favicon.png">
<!--[if IE]><link rel="shortcut icon" href="http://meriawaazapp.com/assets/images/favicon.ico"/><![endif]-->
<script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.6.5.min.js"></script>
</head>
<body class="dashboard">
  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="{{site.url}}"><img src="{{site.url}}/assets/images/logo.png"  alt="Meri Awaaz" id="plogo"></a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
      </ul>
      <section class="top-bar-section ic-pr">
        <ul class="left">
          <h5 id="consti" class="s-ws-top secondary-color ct"></h5>
        </ul>
        <ul class="right">
          <li class="secondary-color sc ct" id="hello">
            Namaskar Loading...
          </li>
          <li>
            <a href="#" id="notification_b" class="nhv f-1-5-x" data-dropdown="droptop" aria-controls="droptop" aria-expanded="false" style="display:relative;"><i class="icon-bell dbc"></i><div id="notification_n" class="nbbl">0</div></a>
            <ul id="droptop" class="f-dropdown small" data-dropdown-content aria-hidden="true" tabindex="-1">
              <li class="columns brbm"><strong>Notifications</strong></li>
              <li class="text-center nm fullwidth"><a href="#" class="bc nbr"><strong>See all</strong></a></li>
              </ul>
          </li>
          <li>
            <a href="{{site.url}}/dashboard.html">Dashboard</a>
          </li>
          <li>
            <a href="{{site.url}}/issues.html">Issues</a>
          </li>
          <!-- <li>
            <a href="{{site.url}}/q-a.html">Questions</a>
          </li> -->
          <li class="has-dropdown">
            <a href="#">Account</a>
            <ul class="dropdown">
              <li>
                <a href="{{site.url}}/outreach.html"><i class="icon-voice"></i>Outreach</a>
              </li>
              <li>
                <a href="{{site.url}}/profile.html"><i class="icon-person"></i>Profile</a>
              </li>
              <!-- <li>
                <a href="{{site.url}}/billing.html"><i class="icon-rupee"></i>Billing</a>
              </li>
               --><li>
                <a href="{{site.url}}/integrations.html" ><i class="icon-tweak"></i>Integrations</a>
              </li>
              <li id="logout">
                <a class="nhv"><i class="icon-off"></i>Log Out</a>
              </li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
  </div>
  <div class="row">
    <div class="small-6 columns small-centered" id="alert-hook">
      <div data-alert id="alert-box" class="alert-box-wrapper alert-box alert radius" style="display:none;">
        Loading...
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  </div>