// Global Foundation Settings
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300");
@import "settings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Make sure the charset is set appropriately
@charset "UTF-8";

// Behold, here are all the Foundation components.
//@import
//  "foundation/components/accordion",
//"foundation/components/alert-boxes",
//"foundation/components/block-grid",
//"foundation/components/breadcrumbs",
//"foundation/components/button-groups",
//"foundation/components/buttons",
//"foundation/components/clearing",
//"foundation/components/dropdown",
//"foundation/components/dropdown-buttons",
//"foundation/components/flex-video",
//"foundation/components/forms",
//"foundation/components/grid",
//"foundation/components/inline-lists",
//"foundation/components/joyride",
//"foundation/components/keystrokes",
//"foundation/components/labels",
//"foundation/components/magellan",
//"foundation/components/orbit",
//"foundation/components/pagination",
//"foundation/components/panels",
//"foundation/components/pricing-tables",
//"foundation/components/progress-bars",
//"foundation/components/reveal",
//"foundation/components/side-nav",
//"foundation/components/split-buttons",
//"foundation/components/sub-nav",
//"foundation/components/switch",
//"foundation/components/tables",
//"foundation/components/tabs",
//"foundation/components/thumbs",
//"foundation/components/tooltips",
//"foundation/components/top-bar",
//"foundation/components/type",
//"foundation/components/offcanvas",
//"foundation/components/visibility";

@import "daterangepicker";

//@import "foundation-icons";

.secondary{
	font-size:0.9em;
	margin-top:0.4em;
	line-height:1;

}
.secondary-color{
	color:scale-color($grey, $lightness:-25%);
}
.tertiary{
	font-size:0.75em;
	margin-top:0.6em;
	line-height:1;
}
.tertiary-color{
	color:scale-color($grey, $lightness:-15%);
}
.contain-to-grid{
	border-bottom:1px solid $grey;
	margin-bottom:1em;
}
.top-bar {
	.secondary-color{
		font-size: 0.9em;
		margin-top: 1.75em;
		margin-right: 1em;
	}
	.name{
		max-width:20em;
	}
}
@media #{$medium-up} { 
	.top-bar-section{
		li:not(.has-form) a:not(.button){
			&:hover{
				border-bottom:3px solid $blue;
			}

		}
	} 
	.top-bar-section ul li.active > a{
		border-bottom:3px solid $darkblue;
	}
	.contain-to-grid{
		padding:1em 0;
		transition: all 1s;
		&.fixed{
		padding: 0.25em 0;
		transition: all 1s;
		}
	}
}
i{
	color:$darkgrey;
}
.bbm{
	border-bottom:1px solid $grey;
	margin-bottom:1em;
	&:last-child{
		border:none;
	}
}
::selection {
	background: $blue; /* Safari */
	color:$white;
}
::-moz-selection {
	background: $blue; /* Firefox */
	color:$white;
}
.naked{
	list-style:none;
	margin:0;
	padding:0;
}
.panel{
	border-radius:2px;
	&.small{
		padding:1rem;
	}
	&.p-fx{
		padding-top: 0;
		padding-left:0;
		padding-right:0;
		p{
			padding:1.25rem 1.25rem 0 1.25rem;
		}
	}
	&.p-fx-btm{
		padding-bottom:0;
	}
}
.nb{
	border:none;
}
.panel-head{
	background:$darkwhite;
	padding:0.25rem 1.25rem;
}
.timeline-view{
	&:before{
		display: block;
		content: "";
		position: absolute;
		top: 360px;
		bottom: 36px;
		left: 79px;
		width: 2px;
		background-color: $grey;
		z-index: 0;
	}
}
.control-bar{
	.switch{
		padding-top:3px;
	}
}
.list-table{
	tr{
		border:none;
		border-left:3px solid $grey;
		cursor: pointer;
		&.open{
			border-color:$yellow;
		}
		&.progress{
			border-color:$bluegreen;
		}
		&.review{
			border-color:$blue;
		}
		&.closed{
			border-color:$darkblue;
		}
	}
}
.gs{
	-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
}
.s-ws-top{
	margin-top:1em;
}
.m-ws-top{
	margin-top:2em;
}
.b-ws-top{
	margin-top:3em;
}
.s-ws-bottom{
	margin-bottom:1em;
}
.m-ws-bottom{
	margin-bottom:2em;
}
.b-ws-bottom{
	margin-bottom:3em;
}
.yc{
	color:$yellow !important;
}
.bc{
	color:$blue !important;
}
.dbc{
	color:$darkblue !important;
}
.bgc{
	color:$bluegreen !important;
}
.wc{
	color:$white !important;
}
.bbg{
	background:$blue !important;
}
.lbbg{
	background:$blue !important;
}
.bgbg{
	background:$bluegreen !important;
}
.dbbg{
	background:$darkblue !important;
}
.f-2x{
	font-size:2em;
}
.f-3x{
	font-size:3em;
}
.f-4x{
	font-size:4em;
}
.filters{
	img{
		width:30%;
	}
	.columns{
		border-right:1px solid $grey;
		&:last-child{
			border:none;
		}
	}
}
.f-dropdown{
	input{
		font-size: 0.75rem;
		height: 2rem;
		padding:0.25rem;
		margin:0.5rem;
		width: 90%;
	}
}
.hero-heading{
	font-size:2rem;
	span{
		padding:0.25em;
		margin:1em 0;
	}
	line-height:2;
}
.press-nav{
	.sub-nav{
		display:inline-block;
	}
}
.press{
	h3{
		margin-top:2em;
	}
}
.app-slider{
	background:url('../images/app-back.png') no-repeat no-repeat 50% 0;
}
.orbit-container .orbit-slides-container img{
	margin:0 auto;
}
.circles{
	width:56px;
	height:56px;
	border-radius:50%;
	padding-top:20px;
	border:1px solid $grey;
	margin:1.5em auto 0 auto;
	&:hover{
		border:2px solid $blue;
	}
	&.active{
		border:2px solid $blue;
	}
}
.circle-img{
	border-radius:50%;
}
#map{
	height:400px;
	width:680px;
}
.fx1{
	vertical-align:super;
	margin-right:5px;
	margin-left:5px;
}
.home-showcase{
	.small-4{
		cursor: pointer;
	}
	.active{
		
			border-bottom:3px solid $grey;
			padding-bottom:1em;
		
	}
	img{
		max-height: 50px;
	}
}