<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Billing | Meri Awaaz</title>

  {% include header.html %}
  
  <div class="row">
    <div class="small-7 columns s-ws-top">
      <h3><small>Current Plan:</small> Forever Free <small>(50K voters)</small></h3>
    </div>
    <div class="small-5 columns s-ws-top">
      <h4><small>Account Status: </small>Active</h4>
    </div>
    </div>
    <div class="row">
    <div class="small-3 columns m-ws-top">
      <div class="row">
        <div class="small-7 columns">
          Subscribers
        </div>
        <div class="small-5 columns">
          <span class="dbc">49K </span><span class="secondary secondary-color">of 50K</span>
        </div>
      </div>
    </div>
    <div class="small-3 columns m-ws-top">
      <div class="row">
        <div class="small-7 columns">
          SMS
        </div>
        <div class="small-5 columns">
          <span class="dbc">13K </span><span class="secondary secondary-color">of 100K</span>
        </div>
      </div>
    </div>
    <div class="small-3 columns m-ws-top">
      <div class="row">
        <div class="small-7 columns">
          Whatsapp
        </div>
        <div class="small-5 columns">
          <span class="dbc">3K </span><span class="secondary secondary-color">of 100K</span>
        </div>
      </div>
    </div>
    <div class="small-3 columns m-ws-top">
      <div class="row">
        <div class="small-7 columns">
          Emails
        </div>
        <div class="small-5 columns">
          <span class="dbc">1K </span><span class="secondary secondary-color">of 100K</span>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="row">
    <div class="panel m-ws-top">
      <h3>Available Plans</h3>
      <div class="row brbm">
        <div class="small-3 columns dbc">
          Forever Free
        </div>
        <div class="small-3 columns">
          0-50K <span class="secondary-color secondary"> Voters</span>
        </div>
        <div class="small-3 columns">
          1000 <span class="secondary-color secondary">free sends included</span>
        </div>
        <div class="small-3 columns">
         <span class="bgc">Your Plan</span>
       </div>
     </div>
     <div class="row brbm">
      <div class="small-3 columns dbc">
        9999<small>/month</small>
      </div>
      <div class="small-3 columns">
        50k-100K <span class="secondary-color secondary">Voters</span>
      </div>
      <div class="small-3 columns">
        5000 <span class="secondary-color secondary">free sends included</span>
      </div>
      <div class="small-3 columns">
       <a href="#" class="button tiny">Choose Plan</a>
     </div>
   </div>
 </div>
</div> -->
<div class="row">
  <div class="panel">
    <div class="row">
    <div class="small-12 columns">
      <h3>Top Up Packs</h3>
      </div>
    </div>
    <div class="row brbm">
      <div class="small-12 columns m-ws-top">
      <h4>SMS Packs</h4>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">1 Lakh messages</h5>
        <p class="secondary">14 paisa/SMS</p>
        <p class="secondary dbc">12,000/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">2 Lakh messages</h5>
        <p class="secondary">13 paisa/SMS</p>
        <p class="secondary dbc">26,000/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">3 Lakh messages</h5>
        <p class="secondary">12.5 paisa/SMS</p>
        <p class="secondary dbc">37,500/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">4 Lakh messages</h5>
        <p class="secondary">12 paisa/SMS</p>
        <p class="secondary dbc">48,000/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">5 Lakh messages</h5>
        <p class="secondary">11.5 paisa/SMS</p>
        <p class="secondary dbc">63,250/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">6 Lakh messages</h5>
        <p class="secondary">11 paisa/SMS</p>
        <p class="secondary dbc">66,000/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
    </div>
    <div class="row brbm">
      <div class="small-12 columns m-ws-top">
      <h4>WhatsApp</h4>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">1 Lakh WhatsApp</h5>
        <p class="secondary nm2">28 paisa/video</p>
        <p class="secondary nm2">24 paisa/image</p>
        <p class="secondary">20 paisa/text</p>
        <p class="secondary dbc">28,000/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">2 Lakh WhatsApp</h5>
        <p class="secondary nm2">27 paisa/video</p>
        <p class="secondary nm2">23 paisa/image</p>
        <p class="secondary">19 paisa/text</p>
        <p class="secondary dbc">54,000/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">3 Lakh WhatsApp</h5>
        <p class="secondary nm2">25 paisa/video</p>
        <p class="secondary nm2">22 paisa/image</p>
        <p class="secondary">18 paisa/text</p>
        <p class="secondary dbc">75,000/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">4 Lakh WhatsApp</h5>
        <p class="secondary nm2">24 paisa/video</p>
        <p class="secondary nm2">21 paisa/image</p>
        <p class="secondary">17 paisa/text</p>
        <p class="secondary dbc">44,000/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">5 Lakh WhatsApp</h5>
        <p class="secondary nm2">23 paisa/video</p>
        <p class="secondary nm2">20 paisa/image</p>
        <p class="secondary">16 paisa/text</p>
        <p class="secondary dbc">44,000/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">6 Lakh WhatsApp</h5>
        <p class="secondary nm2">22 paisa/video</p>
        <p class="secondary nm2">19 paisa/image</p>
        <p class="secondary">15 paisa/text</p>
        <p class="secondary dbc">44,000/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
    </div>
    <div class="row brbm">
      <div class="small-12 columns m-ws-top">
      <h4>Email</h4>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">1 Lakh Emails</h5>
        <p class="secondary">16 paisa/1000 Emails</p>
        <p class="secondary dbc">1,600/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">2 Lakh Emails</h5>
        <p class="secondary">15 paisa/1000 Emails</p>
        <p class="secondary dbc">3,000/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">3 Lakh Emails</h5>
        <p class="secondary">14 paisa/1000 Emails</p>
        <p class="secondary dbc">4,200/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">4 Lakh Emails</h5>
        <p class="secondary">13 paisa/1000 Emails</p>
        <p class="secondary dbc">5,200/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">5 Lakh Emails</h5>
        <p class="secondary">12 paisa/1000 Emails</p>
        <p class="secondary dbc">6,000/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
      <div class="small-2 columns text-center s-ws-top">
        <h5 class="bc">6 Lakh Emails</h5>
        <p class="secondary">11 paisa/1000 Emails</p>
        <p class="secondary dbc">6,600/-</p>
        <a class="button tiny success">Buy Top-up</a>
      </div>
    </div>
  </div>
</div>
{% include footer.html %} 

<script type="text/javascript" src="{{site.url}}/assets/js/billing.js"></script>


<script type="text/javascript">
  $(document).foundation();
</script>
</html>
