<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Delhi Votes | Delhi Elections 2015 | Meri Awaaz</title>
  <link rel="stylesheet" href="{{ste.url}}/assets/css/style.css" />
  <link href="https://fontastic.s3.amazonaws.com/8Qdq3qjYhFhJLC24tseVVc/icons.css" rel="stylesheet">
  <!-- <script src="bower_components/modernizr/modernizr.js"></script> -->
  <meta name="twitter:card" content="app">
  <meta name="twitter:description" content="A Mobile-first platform that connects Citizens with their Netas and Government officials for Open, Accessible and Accountable Governance">
  <meta name="twitter:app:country" content="India">
  <meta name="twitter:app:name:googleplay" content="Meri Awaaz | my voice. my right.">
  <meta name="twitter:app:id:googleplay" content="com.meriawaaz.mygap">
  <meta name="twitter:app:url:googleplay" content="https://play.google.com/store/apps/details?id=com.meriawaaz.mygap">

  <meta property="og:title" content="Meri Awaaz | my voice. my right."/>
  <meta property="og:image" content="http://dl.dropboxusercontent.com/u/37351082/fb-logo.png"/>
  <meta property="og:site_name" content="Meri Awaaz | my voice. my right."/>
  <meta property="og:description" content="A Mobile-first platform that connects Citizens with their Netas and Government officials for Open, Accessible and Accountable Governance"/>
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://meriawaazapp.com/" />
  <meta property="fb:app_id" content="261087750752180" />

  <link rel="icon" type="image/png" href="{{site.url}}/assets/images/favicon.png">
  <!--[if IE]><link rel="shortcut icon" href="{{site.url}}/assets/images/favicon.ico"/><![endif]-->
</head>
<body class="elections">  
  <div class="row">
    <div class="icon-bg">
    </div>
  </div>
  <div class="row" style="margin-top:12em;">
    <div class="small-offset-3 small-2 columns">
      <span id="bsupport" class="f-3x yc">...</span><span class="secondary secondary-color"> followers</span>
    </div>
    <div class="small-4 columns m-ws-top">
      <div id="support" class="l-lc text-right secondary-color ct" style="width:49%">Loading...</div>
      <div id="skeptics" class="d-lc secondary-color ct" style="width:49%">Loading...</div>
    </div>
    <div class="small-3 columns text-right s-ws-top">
      <h5 id="election" class="subheader ct">Loading...</h5>
    </div>
  </div>
  <div class="panel icon-bg-fx">
    <div class="row">
      <div class="small-3 columns text-right">
        <img id="photo" src="./assets/images/neta.png" height="300px" class="circle-img top-push">
        <h3 id="nameage" class="m-ws-top yc ct">Loading...</h3>
        <h4 id="party" class="ct">Loading...</h4>
        <h4 id="cstate" class="s-ws-top ct">Loading...</h4>
        <h5 id="profession" class="subheader ct">Loading...</h5>
        <!--<a href="#" class="button v2">Edit</a>-->
      </div>
      <div class="small-3 columns m-ws-top">
        <h4 class="bgc">Statistics</h4>
        <hr>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Education:
          </div>
          <div id="education" class="small-7 columns ct">
            Loading...
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Total Assets:
          </div>
          <div id="assets" class="small-7 columns ct">
            Loading...
          </div>
        </div>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Liabilities:
          </div>
          <div id="liabilities" class="small-7 columns ct">
            Loading...
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Criminal Cases:
          </div>
          <div id="ccases" class="small-7 columns ct">
            Loading...
          </div>
        </div>
      </div>
      <div class="small-3 columns m-ws-top">
        <h4 class="bc">Interactions</h4>
        <hr>
        <div class="row">
          <div class="small-8 columns secondary-color">
            New Followers:
          </div>
          <div id="num-followers" class="small-4 columns">
            Loading...
          </div>
        </div>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Reach:
          </div>
          <div id="num-reach" class="small-4 columns">
            Loading...
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Comments:
          </div>
          <div id="num-comments" class="small-4 columns">
            Loading...
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Posts:
          </div>
          <div id="num-posts" class="small-4 columns">
            Loading...
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Questions Asked to:
          </div>
          <div id="num-qat" class="small-4 columns">
            Loading...
          </div>
        </div>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Questions Answered:
          </div>
          <div id="num-qa"class="small-4 columns">
            Loading...
          </div>
        </div>
      </div>
      <div class="small-3 columns m-ws-top">
        <h4 class="dbc">Actions</h4>
        <hr>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Team size:
          </div>
          <div id="teamsize" class="small-4 columns">
            Loading...
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Issues claimed:
          </div>
          <div id="num-iclaimed" class="small-4 columns">
            Loading...
          </div>
        </div>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Issues closed:
          </div>
          <div id="num-iclosed" class="small-4 columns">
            Loading...
          </div>
        </div>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Issues Validated:
          </div>
          <div id="num-ivalidated" class="small-4 columns">
            Loading...
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="small-3 columns text-right s-ws-top">
        <h5>History</h5>
        <div id="history2">
          -
        </div>
      </div>
      <div class="small-3 columns m-ws-top">
        <div class="row secondary-panel">
          <div class="small-2 columns">
            <i class="icon-check gc f-2x">
            </i>
          </div>
          <div id="profilelink" class="small-10 columns s-ws-top secondary">

          </div>
        </div>
      </div>

    </div>
  </div>

  {% include footer.html %} 
  <script type="text/javascript" src="{{site.url}}/assets/js/candidate.js"></script>

  <script type="text/javascript">
    $(document).foundation();
  </script>
  <script>
    $( document ).ready(function() {
      document.title = 'Delhi Votes | Delhi Elections 2015 | Meri Awaaz';
      icon_bg();
      icon_bg();
    });
  </script>
  </html>
