<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Simple Polygon</title>
    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-1.2.19.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.2.6/jquery.min.js"></script>
    <script>

    function handleData( responseData ) {
        console.log(responseData);
    }

    function initialize() {
        Parse.initialize('jlQ5tv6KHzbRWhGcI0qXLAMsCVPf45efzqHBaqOt', 'q6AfL8e41Rl1vtYrjsDOVLpdFkgxT1mAH87wkqZH');
        
        var mapOptions = {
          zoom: 11,
          center: new google.maps.LatLng(28.667508, 77.121255),
          mapTypeId: google.maps.MapTypeId.TERRAIN
        };
        
        map = new google.maps.Map(document.getElementById('map-canvas'),mapOptions);
        
        var dragable_marker = new google.maps.Marker({
          position : new google.maps.LatLng(28.667508, 77.1212552),
          map : map,
          draggable : true
        });

        google.maps.event.addListener( dragable_marker, 'dragend', function( e ) {
             pt={
               x:dragable_marker.getPosition().lat(),
               y:dragable_marker.getPosition().lng()
             }
             $.ajax({                                      
                url: 'http://localhost:81/cloudCode.php',       
                type: "POST",
                data: { lat: pt.x , lng: pt.y } ,
                success: function ( data, status, XHR ) {
                    handleData(data);
                }
             });
          
       }); 
    }

    google.maps.event.addDomListener(window, 'load', initialize);

    </script>

  </head>
  <body>
    <div id="map-canvas"></div>
  </body>
</html>

