<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard | Meri Awaaz</title>

  {% include header.html %}

  <div class="row">
    <div class="small-3 columns text-right">
      <div class="row">
        <div class="small-5 small-offset-7 columns s-ws-top">
          <img id="photo" src="./assets/images/neta.png" class="circle-img">
        </div>
      </div>
      <h3 id="myname" class="ct">Loading...</h3>
      <h5 id="myparty" class="ct">Loading...</h5>
      <h5 id="ele" class="secondary-color ct">Loading...</h5>
      <h5 id="cs" class="secondary-color ct">Loading...</h5>
      <hr>
      <select>
        <option value="week">This Week</option>
        <option value="month">This Month</option>
        <option value="year">This Year</option>
        <option value="lifetime">Lifetime</option>
      </select>
      <div class="row collapse">
        <div class="small-6 columns"><span id="f" class="f-2x bgc">...</span> followers </div><div class="small-6 columns s-ws-top"><i class="icon-up gc"></i><span class="secondary secondary-color">23 this week</span></div>
      </div>
      <div class="row collapse">
        <div class="small-6 columns"><span id="i" class="f-2x bc">...</span> interactions </div><div class="small-6 columns s-ws-top"><i class="icon-down rc"></i><span class="secondary secondary-color">31 this week</span></div>
      </div>
      <div class="row collapse">
        <div class="small-6 columns"><span id="a" class="f-2x dbc">...</span> actions </div><div class="small-6 columns s-ws-top"><i class="icon-down rc"></i><span class="secondary secondary-color">2 this week</span></div>
      </div>
    </div>
    <div class="small-6 columns">
      <div id="netapost" class="panel">
      <div class="row">
        <div class="small-8 columns">
        <h5 class="dbc">Connect with your Voters</h5>
        </div>
        <div class="small-4 columns text-right">
        <span class='tertiary'>Estimated Reach: </span><span class='bc'> 100</span>
        </div>
      </div>
          <form id="post-form">
            <textarea id="postArea" class="nm" rows="2" required placeholder="Say something inspiring"></textarea>
            <div class="row collapse" id="sh-ltr1" style="display:none;">
              <div class="small-2 small-offset-2 columns text-center fx3">
              <input type="checkbox" name="" value="" checked=""> <span class="tertiary secondary-color">Mobile App </span>
              </div>
              <div class="small-2 columns text-center fx3"><input type="checkbox" name="" value=""> <span class="tertiary secondary-color">SMS </span> 
              </div>
              <div class="small-2 columns text-center fx3"><input type="checkbox" name="" value=""> <span class="tertiary secondary-color">Email </span> 
              </div>
              <div class="small-4 columns"><input id="post" type="submit" value="Send Update" class="button tiny nm fullwidth">
              </div>
            </div>
          </form>
        </div>
        <div id="posts">
        <h4 class="text-center secondary-color b-ws-top">Loading...</h4>
          
        </div>
      </div>
      <div class="small-3 columns">
        <div class="panel">
          <div class="row">
            <div class="small-12 columns">
              <h5>Get Help</h5>
            </div>
            <div class="small-2 columns">
              <i class="icon-email secondary-color"></i>
            </div>
            <div class="small-10 columns"><a href="mailto:mahelp@mutinylabs.in">help@mutinylabs.in</a>
            </div>
            <div class="small-2 columns">
              <i class="icon-call secondary-color"></i>
            </div>
            <div class="small-10 columns">
              +91 9999 999 999
            </div>
          </div>
        </div>

        <hr>
        <h5>Competitors</h5>
        <select>
          <option value="week">This Week</option>
          <option value="month">This Month</option>
          <option value="year">This Year</option>
          <option value="lifetime">Lifetime</option>
        </select>
        <div id="competitorlist">
        </div>



      </div>
    </div>

    {% include footer.html %} 
    <script type="text/javascript" src="{{site.url}}/assets/js/dashboard.js"></script>

    <script type="text/javascript">
      $(document).foundation();
    </script>

    <script type="text/javascript" src="{{site.url}}/assets/js/countUp.min.js"></script>
    <script type="text/javascript" src="{{site.url}}/assets/js/moment.min.js"></script>
    </html>
