<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Dashboard | Meri Awaaz</title>

  {% include header.html %}

  <div class="row">
    <div class="small-3 columns text-right">
      <div class="row">
        <div class="small-5 small-offset-7 columns s-ws-top">
          <img src="{{site.url}}/assets/images/politicians/narendra-modi.jpg" class="circle-img">
        </div>
      </div>
      <h3>Narendra Modi</h3>
      <h5>Bhartiya Janta Party</h5>
      <h5 class="secondary-color">Lok Sabha 2014</h5>
      <h5 class="secondary-color">Vadodra, <small>Gujarat</small></h5>
      <hr>
      <select>
        <option value="week">This Week</option>
        <option value="month">This Month</option>
        <option value="year">This Year</option>
        <option value="lifetime">Lifetime</option>
      </select>
      <div class="row collapse">
        <div class="small-6 columns"><span class="f-2x bgc">365 </span>followers </div><div class="small-6 columns s-ws-top"><i class="icon-up gc"></i><span class="secondary secondary-color">23 this week</span></div>
      </div>
      <div class="row collapse">
        <div class="small-6 columns"><span class="f-2x bc">45 </span>interactions </div><div class="small-6 columns s-ws-top"><i class="icon-down rc"></i><span class="secondary secondary-color">31 this week</span></div>
      </div>
      <div class="row collapse">
        <div class="small-6 columns"><span class="f-2x dbc">5 </span>actions </div><div class="small-6 columns s-ws-top"><i class="icon-down rc"></i><span class="secondary secondary-color">2 this week</span></div>
      </div>
    </div>
    <div class="small-6 columns">
      <div class="panel">
        <h4 class="dbc">Connect with your Voters</h4>
        <textarea rows="4" placeholder="Say something inspiring"></textarea>
        <div class="text-right">
          <div class="button nm">Send Update</div>
        </div>
      </div>
      
      <div class="panel">
        <div class="row">
          <div class="small-9 columns">
            <p class="secondary-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
          <div class="small-3 columns secondary-color">
            <div class="row">
              <div class="small-12 columns secondary-color tertiary text-right">
                44 min ago
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="small-8 columns text-right tertiary">
                Reach
              </div>
              <div class="small-4 columns secondary">
                871
              </div>
            </div>
            <div class="row">
              <div class="small-8 columns text-right tertiary">
                Likes
              </div>
              <div class="small-4 columns secondary">
                87
              </div>
            </div>
            <div class="row">
              <div class="small-8 columns text-right tertiary">
                Comments
              </div>
              <div class="small-4 columns secondary">
                8
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="row">
          <div class="small-9 columns">
            <p class="secondary-color">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          </div>
          <div class="small-3 columns secondary-color">
            <div class="row">
              <div class="small-12 columns secondary-color tertiary text-right">
                44 min ago
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="small-8 columns text-right tertiary">
                Reach
              </div>
              <div class="small-4 columns secondary">
                871
              </div>
            </div>
            <div class="row">
              <div class="small-8 columns text-right tertiary">
                Likes
              </div>
              <div class="small-4 columns secondary">
                87
              </div>
            </div>
            <div class="row">
              <div class="small-8 columns text-right tertiary">
                Comments
              </div>
              <div class="small-4 columns secondary">
                8
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="small-3 columns">
      <div class="panel">
        <div class="row">
          <div class="small-12 columns">
            <h5>Get Help</h5>
          </div>
          <div class="small-2 columns">
            <i class="icon-email secondary-color"></i>
          </div>
          <div class="small-10 columns"><a href="mailto:mahelp@mutinylabs.in">help@mutinylabs.in</a>
          </div>
          <div class="small-2 columns">
            <i class="icon-call secondary-color"></i>
          </div>
          <div class="small-10 columns">
            +91 9999 999 999
          </div>
        </div>
      </div>

      <hr>
      <h5>Competitors</h5>
      <select>
        <option value="week">This Week</option>
        <option value="month">This Month</option>
        <option value="year">This Year</option>
        <option value="lifetime">Lifetime</option>
      </select>
      <div class="row collapse">
        <div class="small-3 columns">
          <img src="http://api.randomuser.me/portraits/med/men/12.jpg" class="circle-img gs hv pd">
        </div>
        <div class="small-9 columns">
          <h4>Ghansham Bhai <small>(34)</small></h4>
          <h6>INC</h6>
        </div>
      </div>
      <div class="row tertiary">
        <div class="small-6 columns text-right"><span class="f-2x bgc">365 </span>followers </div><div class="small-6 columns s-ws-top"><i class="icon-up gc"></i><span class="secondary secondary-color">23 this week</span></div>
      </div>
      <div class="row tertiary">
        <div class="small-6 columns text-right"><span class="f-2x bc">45 </span>interactions </div><div class="small-6 columns s-ws-top"><i class="icon-down rc"></i><span class="secondary secondary-color">31 this week</span></div>
      </div>
      <div class="row tertiary">
        <div class="small-6 columns text-right"><span class="f-2x dbc">5 </span>actions </div><div class="small-6 columns s-ws-top"><i class="icon-down rc"></i><span class="secondary secondary-color">2 this week</span></div>
      </div>

      <hr>

      <div class="row collapse">
        <div class="small-3 columns">
          <img src="http://api.randomuser.me/portraits/med/men/16.jpg" class="circle-img gs hv pd">
        </div>
        <div class="small-9 columns">
          <h4>Mota Bhai <small>(34)</small></h4>
          <h6>AAP</h6>
        </div>
      </div>
      <div class="row tertiary">
        <div class="small-6 columns text-right"><span class="f-2x bgc">365 </span>followers </div><div class="small-6 columns s-ws-top"><i class="icon-up gc"></i><span class="secondary secondary-color">23 this week</span></div>
      </div>
      <div class="row tertiary">
        <div class="small-6 columns text-right"><span class="f-2x bc">45 </span>interactions </div><div class="small-6 columns s-ws-top"><i class="icon-down rc"></i><span class="secondary secondary-color">31 this week</span></div>
      </div>
      <div class="row tertiary">
        <div class="small-6 columns text-right"><span class="f-2x dbc">5 </span>actions </div><div class="small-6 columns s-ws-top"><i class="icon-down rc"></i><span class="secondary secondary-color">2 this week</span></div>
      </div>
    </div>
  </div>

{% include footer.html %} 
<script type="text/javascript" src="{{site.url}}/assets/js/dashboard.js"></script>

<script type="text/javascript">
  $(document).foundation();
</script>

<script type="text/javascript" src="{{site.url}}/assets/js/countUp.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/moment.min.js"></script>
<script>
  $( document ).ready(function() {
  });
</script>
</html>
