<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meri Awaaz | my voice. my right.</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <!-- <script src="bower_components/modernizr/modernizr.js"></script> -->
    <meta name="twitter:card" content="app">
    <meta name="twitter:description" content="Making governance Accessible and Accountable through mobile access">
    <meta name="twitter:app:country" content="India">
	<!--  <meta name="twitter:app:name:iphone" content="Meri Awaaz">
	<meta name="twitter:app:id:iphone" content="306934135">
	<meta name="twitter:app:url:iphone" content="example://action/5149e249222f9e600a7540ef">
	<meta name="twitter:app:name:ipad" content="Meri Awaaz">
	<meta name="twitter:app:id:ipad" content="306934135">
	<meta name="twitter:app:url:ipad" content="example://action/5149e249222f9e600a7540ef"> -->
	<meta name="twitter:app:name:googleplay" content="Meri Awaaz | my voice. my right.">
	<meta name="twitter:app:id:googleplay" content="com.meriawaaz.mygap">
	<meta name="twitter:app:url:googleplay" content="https://play.google.com/store/apps/details?id=com.meriawaaz.mygap">

	<meta property="og:title" content="Meri Awaaz | my voice. my right."/>
	<meta property="og:image" content="http://dl.dropboxusercontent.com/u/37351082/fb-logo.png"/>
	<meta property="og:site_name" content="Meri Awaaz | my voice. my right."/>
	<meta property="og:description" content="Meri Awaaz is a movement of social change to make governance delivery accessible and accountable. Using the app, people can report issues about roads, electricity, water, law and order, sanitation, transportation and the system detects the location automatically and allows users to submit other details like photos and complaints."/>
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://meriawaazapp.com/" />
	<meta property="fb:app_id" content="261087750752180" />

	<link rel="icon" type="image/png" href="http://meriawaazapp.com/assets/images/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="http://meriawaazapp.com/assets/images/favicon.ico"/><![endif]-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45177246-4', 'auto');
      ga('send', 'pageview');
  </script>
</head>
<body class="landing">
    <div class="row b-ws-bottom b-ws-top">
        <div class="small-4 small-centered columns ">
            <a href="{{site.url}}"><img src="assets/images/logo.png" alt="Meri Awaaz"></a>
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="small-7 columns text-right b-ws-top">
            <h1 class="s-ws-top"><span class="bgbg">Making governance</span><br><span class="lbbg">Accessible and Accountable</span><br><span class="dbbg">through mobile access</span></h1>
            <a href="https://play.google.com/store/apps/details?id=com.meriawaaz.mygap" target="_blank"><img src="assets/images/playstore.png" class="b-ws-top"></a>
            
        </div>
        <div class="small-4 small-offset-1 columns">
            <img src="assets/images/placeholder.png">
        </div>
    </div>
    <div class="row text-center">
        <h2>How it works</h2>
        <img src="assets/images/how-it-works.png">
    </div>
    <div class="row text-center b-ws-top">
    	<h2>Join in the Movement</h2>
    	<p class="small-8 columns small-centered">If you like our cause, show us your support. Let's make government accessible and acountable together. Show us your support and join in to urge the government to open up and implement the system at their end.</p>
    	<div class="row m-ws-top">
          <div class="small-6 columns text-right">
              <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fmeriawaazapp.com%2F&amp;width&amp;layout=standard&amp;action=recommend&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=261087750752180" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
          </div>
          <div class="small-3 columns">
              <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://meriawaazapp.com" data-via="meriawaazapp" data-related="meriawaazapp" data-hashtags="myVoicemyRight">Tweet</a>
          </div>
          <div class="small-3 columns text-left">
              <script src="//platform.linkedin.com/in.js" type="text/javascript">
                 lang: en_US
             </script>
             <script type="IN/Share" data-url="http://meriawaazapp.com/" data-counter="right"></script>
         </div>
     </div>
 </div>
 <div class="row text-center b-ws-top">
    <h2 class="s-ws-bottom">As featured on</h2>
    <ul class="small-block-grid-6">
        <li><a href="http://www.youthkiawaaz.com/2014/07/app-can-help-file-complaints-issues-electricity-phone/" 
            tagrget="_blank"><img src="{{site.url}}/assets/images/media/youthkiawaaz.png"></a></li>
            <li><a href="http://gadgets.ndtv.com/apps/features/building-a-better-india-one-app-at-a-time-577410" tagrget="_blank"><img src="{{site.url}}/assets/images/media/ndtv.jpg"></a></li>
            <li>more coming soon</li>
        </ul>
    </div>
    <div class="row b-ws-top">
        <h2 class="text-center">Contribute to the Movement</h2>
        <div class="small-8 columns text-right"><p class="b-ws-top">We can't bring this change without you. We need your support. If you would like to contribute your time, lets talk at <strong>volunteer@mutinylabs.in</strong> and you can also contribute funds</p>
            <div class="b-ws-top text-right">Join on Crowdfunding campaign on Ketto <br><a href="http://www.ketto.org/campaign/campaign_details.php?fmd_id=276#.VAFC4_mSyWU" class="button b-ws-top small">Contribute</a></div>
        </div>
        <div class="small-4 columns">
            <iframe src='http://www.ketto.org/campaign/campaign_embed_widget.php?fmd_id=276' width='320px' height='500px' frameborder='0' allowfullscreen></iframe>
        </div>
    </div>
    <div class="row b-ws-top m-ws-bottom">
    <h2 class="text-center">5 reasons why Meri Awaaz will fail</h2>
    <div class="small-7 small-centered columns">
      <h3>1. Goal</h3>
      <blockquote>
        “Audacity, more audacity, always audacity.”

        <small>~ Georges Jacques Danton</small>
      </blockquote>
      <p>
        We are going to change how governments work around the world and make them accessible through mobile access. We are aiming big, insanely big.
      </p>
      <h3>2. Revenue</h3>
      <blockquote>
        “The greater the obstacle, the more glory in overcoming it.”

        <small>~ Molière</small>
      </blockquote>
      <p>While our model is clear and focussed, it does have a lot of variables. Our app and the related resources will always be open source and community driven. We do not plan to make revenue from the app ever. It will be free for our people to use. Our revenue source is through partnerships with governments.</p>

      <h3>3. Impact</h3>
      <blockquote>
        “In a gentle way, you can shake the world.”

        <small>~ Mahatma Gandhi</small>
      </blockquote>
      <p>We will be hated by the people who are comfortable with the status quo. We are okay with doing that. Change is a bit unsettling but it is inevitable.</p>

      <h3>4.  Challenge</h3>
      <blockquote>
        “Life is either a daring adventure or nothing at all.”

        <small>~ Hellen Keller</small>
      </blockquote>
      <p>In our journey to change governments forever, there are numerous challenges. The journey seems impossible and the road is less travelled but within each challenge lies an opportunity; an opportunity to usher in unprecedented change.</p>

      <h3>5. Growth</h3>
      <blockquote>
        “Entrepreneurs are not content just to give a fish or teach how to fish. They will not rest until they have revolutionized the fishing industry”

        <small>~ Bill Drayton</small>
      </blockquote>
      <p>We want to go big. We want to do it now. The world needs change and we want to deliver it. We believe the right way to deliver sustainable change is through entrepreneurship and not charity.</p>
    </div>
    <h2 class="text-center m-ws-top m-ws-bottom">The 1 reason we will win</h2>
    <div class="small-7 small-centered columns">
      <blockquote>
        "Impossible is just a big word thrown around by small men who find it easier to live in the world they've been given than to explore the power they have to change it. Impossible is not a fact. It's an opinion. Impossible is not a declaration. It's a dare. Impossible is potential. Impossible is temporary. Impossible is nothing." 
        <small>~ Muhammad Ali</small>
      </blockquote>
      <p>We have the will and the grit to make it happen. And that’s why we will win. It is time to change things because there is no such thing as small change.</p>
      <blockquote>
        “The question isn't who is going to let me; it's who is going to stop me”

        <small>~ Ayn Rand </small>
      </blockquote>
    </div>
  </div>
    <div class="row">
        <hr>
        <div class="small-8 columns">
            <ul class="inline-list secondary">
              <li><a href="{{site.url}}/press.html">Press</a></li>
              <li><a href="mailto:meriawaaz@mutinylabs.in">Contact</a></li>
              <li><a href="http://facebook.com/meriAwaazapp" target="_blank">Facebook</a></li>
              <li><a href="http://twitter.com/meriAwaazapp" target="_blank">Twitter</a></li>
              <li><a href="https://plus.google.com/b/116904166401766610185" rel="publisher" target="_blank">Google+</a></li>
          </ul>
      </div>
      <div class="small-4 columns">
         <ul class="inline-list secondary">
          <li><a href="{{site.url}}/privacy-policy.html">Privacy Policy</a></li>
      </ul>
  </div>
</div>
</body>
</html>
