{% include header-landing.html %}
<div class="row">
  <div class="icon-bg">
  </div>
  <div class="small-6 columns text-right b-ws-top icon-bg-fx">
    <h3 class="hero-heading m-ws-top">
      <div><span class="bgbg wc">Connecting Citizens with</span></div>
      <div><span class="bbg wc">Governments and Elected Officials</span></div>
      <div><span class="dbbg wc">through a Mobile platform</span></div>
    </h3>
  </div>
  <div class="small-3 columns icon-bg-fx">
    <img src="assets/images/placeholder.png">
  </div>
  <div class="small-3 columns icon-bg-fx">
    <a href="https://play.google.com/store/apps/details?id=com.meriawaaz.mygap" target="_blank"><img src="assets/images/playstore.png" style="margin-top:12em;"></a>
    <p class="s-ws-top">Are you an Neta? <br>Signup for our <a href="{{site.url}}/login.html" class="button tiny secondary">Dashboard</a></p>
  </div>
</div>
<div class="panel p-fx-btm icon-bg-fx">
  <div class="row home-showcase">
    <div class="small-4 columns text-center" data-orbit-link="slide-1">            
      <img src="{{site.url}}/assets/images/policy.png">
      <h4 class="s-ws-top">Know and Connect with your Netas</h4>
      <p class="secondary-color">Follow their updates, join discussions and view their report cards, assets, criminal records and more</p>
    </div>
    <div class="small-4 columns text-center" data-orbit-link="slide-2">
      <img src="{{site.url}}/assets/images/report-issues.png">
      <h4 class="s-ws-top">Report and Discuss Local Issues</h4>
      <p class="secondary-color">Report issues with your phone and discuss other civic issues in your area</p>
    </div>
    <div class="small-4 columns text-center" data-orbit-link="slide-3">
      <img src="{{site.url}}/assets/images/public-spend.png">
      <h4 class="s-ws-top">Access Public Spending Information </h4>
      <p class="secondary-color">Find out about public (your) money spent on the issues that you face</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns">
    <ul class="" data-orbit>
      <li data-orbit-slide="slide-1">
        <div class="row">
          <div class="small-offset-1 small-3 columns s-ws-top">
            <img src="{{site.url}}/assets/images/phone.png">
          </div>
          <div class="small-7 columns b-ws-top end panel">
          <h2 class="dbc">Is baar vote do, Samajhdaari se</h3>
              <h4 class="subheader">It is time for Issue based Politics. Follow their updates and have a discussion with them directly</h4>
              <p class="secondary-color">Access their Information, Ask them questions or participate in already active discussions.</p>
              <p class="secondary-color">You can also access information about your public representatives like their
                <ul>
                  <li class="secondary-color">Educational background criminal records (if any)</li>
                  <li class="secondary-color">How do they make their money, their assets and liabilities</li>
                  <li class="secondary-color">Policy stand on key issues and past votes on bills in the assembly</li>
                </ul>
              </p>
            </div>
          </div>
        </li>
        <li data-orbit-slide="slide-2">
          <div class="row">
            <div class="small-offset-1 small-3 columns s-ws-top">
              <img src="{{site.url}}/assets/images/placeholder.png">
            </div>
            <div class="small-7 columns b-ws-top end panel">
              <h2 class="bgc">Click Karo, Desh Badlo</h3>
                <h4 class="subheader">Play your part to improve your area. Report civic issues and participate in other discussions</h4>
                <p class="secondary-color">Report issues or follow other issues around your area to help create a heatmap. All issues reported are filed with the concerned department through existing public griviences legal mechanism by our volunteers.
                  </p>
                  <p class="secondary-color">Local Netas also take on the responsibility of the getting the issues resolved and get due credit for their hard work</p>
                </div>
              </div>
            </li>
            <li data-orbit-slide="slide-3">
              <div class="row">
                <div class="small-offset-1 small-3 columns s-ws-top">
                  <img src="{{site.url}}/assets/images/spending-info.png">
                </div>
                <div class="small-7 columns b-ws-top end panel">
                  <h2 class="bc">Apka Paisa, Apka Haq</h3>
                    <h4 class="subheader">Keep track of public funds spent on your issues</h4>
                    <p class="secondary-color">View data about the public funds spent on civic issues that you report from the set of open data available. The system automatically queries the available data to find public spend, last activity and the responsible official for it.</p>
                    <p class="secondary-color">In the future the system will also let you request data for a nominal fee, in case the data is not openly available.</p>
                  </div>
                </div>

              </li>
            </ul>
          </div>
        </div>
      <!-- <div class="row text-center">
        <h2>How it works</h2>
        <img src="assets/images/how-it-works.png">
      </div> -->
      <div class="panel">
        <div class="row text-center">
          <h3 class="s-ws-top">As seen on</h3>
          <ul class="small-block-grid-6 s-ws-top">
            <li><a href="http://www.ndtv.com/video/player/heads-up/satya-nadella-s-secret-to-success/340190#t=948" target="_blank"><img src="{{site.url}}/assets/images/media/ndtvprofit.png" style="margin-top:2em;"></a></li>
            <li><a href="http://www.youthkiawaaz.com/2014/07/app-can-help-file-complaints-issues-electricity-phone/" target="_blank"><img src="{{site.url}}/assets/images/media/youthkiawaaz.png" style="margin-top:3em;"></a></li>
            <li><a href="http://gadgets.ndtv.com/apps/features/building-a-better-india-one-app-at-a-time-577410" target="_blank"><img src="{{site.url}}/assets/images/media/ndtv.jpg" style="margin-top:3em;"></a></li>
            <li><a href="http://scroll.in/article/683529/Four-Indian-apps-that-are-strong-contenders-for-Facebook's-$250,000-social-innovation-prize" target="_blank"><img src="{{site.url}}/assets/images/media/scroll.jpg" style="margin-top:1em;"></a></li>
            <li><a href="https://www.youtube.com/watch?v=sr_CENoepls" target="_blank"><img src="{{site.url}}/assets/images/media/radiomirchi.jpg"></a></li>
            <li><div class="secondary-color" style="margin-top:3em;">more coming soon</div></li>
          </ul>
        </div>
      </div>
      <div class="row text-center b-ws-top">
       <h2>Join in the Movement</h2>
       <p class="small-8 columns small-centered">If you like the cause, show us your support. Let's build the Governments of Tomorrow; Together.</p>
       <div class="row m-ws-top">
        <div class="small-4 columns text-right">
          <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fmeriawaazapp&amp;width&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;share=true&amp;height=80&amp;appId=261087750752180" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
        </div>
        <div class="small-3 columns">
          <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://meriawaazapp.com" data-text="I am a part of Change. Are you?" data-via="meriawaazapp" data-related="meriawaazapp" data-hashtags="myVoicemyRight">Tweet</a>
          <a href="https://twitter.com/meriawaazapp" class="twitter-follow-button" data-show-count="false">Follow @meriawaazapp</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
        </div>
        <div class="small-2 columns text-left">
          <script src="//platform.linkedin.com/in.js" type="text/javascript">
           lang: en_US
         </script>
         <script type="IN/Share" data-url="http://meriawaazapp.com/" data-counter="right"></script>
       </div>
       <div class="small-1 columns end">
         <a href="whatsapp://send?text=Hello%20World!"><img src="{{site.url}}/assets/images/whatsapp.png"></a>
       </div>
     </div>
   </div>

   {% include footer.html %}
   <script type="text/javascript" src="{{site.url}}/assets/bower_components/foundation/js/foundation/foundation.orbit.js"></script>
   <script type="text/javascript">
     $( document ).ready(function() {
      icon_bg();
      icon_bg();
    });
     $(document).foundation({
      orbit: {
        animation: 'slide',
        timer_speed: 2500,
        pause_on_hover: true,
        animation_speed: 1000,
        navigation_arrows: false,
        bullets: false,
        slide_number: false,
        timer: false,
        next_on_click: false,
      }
    });
   </script>
   </html>
