<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Meri Awaaz: mobile app to make governance accessible and accountable</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <!-- <script src="bower_components/modernizr/modernizr.js"></script> -->
</head>
<body class="landing">
    <div class="row b-ws-bottom b-ws-top">
        <div class="small-4 small-centered columns ">
            <img src="assets/images/logo.png" alt="Meri Awaaz">
        </div>
        <hr>
    </div>
    <div class="row">
        <div class="small-7 columns text-right b-ws-top">
            <h1 class="s-ws-top"><span class="bgbg">Making governance</span><br><span class="lbbg">Accessible and Accountable</span><br><span class="dbbg">through mobile access</span></h1>
            <img src="assets/images/playstore.png" class="b-ws-top">
        </div>
        <div class="small-4 small-offset-1 columns">
        <a href="#"><img src="assets/images/placeholder.png"></a>
        </div>
    </div>
    <div class="row text-center">
    <h2>How it works</h2>
    <img src="assets/images/how-it-works.png">
    <hr>
    </div>
    <div class="row">
        <div class="small-4 columns">
            <ul class="inline-list secondary">
              <li><a href="#">Press Kit</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
        </div>
        
    </div>

  
  <!--   <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script> -->
</body>
</html>
