<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Issues | Meri Awaaz</title>
{% include header.html %}
<div class="row control-bar b-ws-top">
  <div class="small-3 small-offset-5 columns text-right">
    <div class="switch radius">
      <span class="fx1 secondary-color">list view</span>
      <input id="maptgl" type="checkbox" checked name="maptglgroup">
      <label for="maptgl"></label>
      <span class="fx1 secondary-color">map view</span>
    </div>
  </div>
  <div class="small-4 columns panel small">
    <div id="reportrange" class="rangepicker-box secondary"><i class="icon-calendar"></i> <span></span></div>
  </div>
</div>
<div class="row panel filters text-center">
  <div class="small-2 columns">    
    <label for="road_cb"><img src="./assets/images/marker-1.png"><br>Road</label><input type="checkbox" id="road_cb" checked='true'>
  </div>
  <div class="small-2 columns">
    <label for="electricity_cb"><img src="./assets/images/marker-2.png"><br>Electricity</label><input type="checkbox" id="electricity_cb" checked='true'>
  </div>
  <div class="small-2 columns">
    <label for="water_cb"><img src="./assets/images/marker-3.png"><br>Water</label><input type="checkbox" id="water_cb" checked='true'>
  </div>
  <div class="small-2 columns">
    <label for="law_cb"><img src="./assets/images/marker-4.png"><br>Road</label><input type="checkbox" id="law_cb" checked='true'>
  </div>
  <div class="small-2 columns">
    <label for="sanitation_cb"><img src="./assets/images/marker-5.png"><br>Sanitation</label><input type="checkbox" id="sanitation_cb" checked='true'>  </div>
    <div class="small-2 columns">
      <label for="transport_cb"><img src="./assets/images/marker-6.png"><br>Transportation</label><input type="checkbox" id="transport_cb" checked='true'>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-2 columns panel text-center s-ws-top">
    <h4>Status</h4>
    <div class="bbm">
      <label for="open_it"><div id="fn1" class="f-2x yc">1</div>Open</label><input type="checkbox" id="open_it" checked='true'>
    </div>
    <div class="bbm">
      <label for="prog_it"><div id="fn2" class="f-2x bgc">1</div>In progress</label><input type="checkbox" id="prog_it" checked='true'>
    </div>
    <div class="bbm">
      <label for="review_it"><div id="fn3" class="f-2x bc">1</div>Review</label><input type="checkbox" id="review_it" checked='true'>
    </div>
    <div class="bbm">
      <label for="closed_it"><div id="fn4" class="f-2x dbc">1</div>Closed</label><input type="checkbox" id="closed_it" checked='true'>
    </div>
  </div>
  <div class="small-7 columns s-ws-top">
    <div id="map-view" class="panel p-fx">
      <!--<img src="http://placehold.it/1600x900&text=map">-->
      <div id="map" class="google-map" style="width:100%">  </div> 
    </div>
    <div id="list-view" class="panel p-fx" style="display:none;">
      <table class="list-table">
        <thead>
          <tr>
            <th width="100">Type</th>
            <th>Content</th>
            <th width="100">Status</th>
            <th width="100">Assignee</th>
            <th width="100">Time</th>
          </tr>
        </thead>
        <tbody>
          <tr class="open">
            <td>Road</td>
            <td>Content truncated to a single line and some more</td>
            <td>Open</td>
            <td>User 1</td>
            <td>12 min ago</td>
          </tr>
          <tr class="progress">
            <td>Transportation</td>
            <td>This is longer Content Goes </td>
            <td>Review</td>
            <td>User 1</td>
            <td>16 min ago</td>
          </tr>
          <tr class="closed">
            <td>Law and Order</td>
            <td>This is longer Content Goes </td>
            <td>Open</td>
            <td>User 1</td>
            <td>40 min ago</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="updates-view" class="panel" style="display:none;">
      <h2>'Issue Type' Issue<small> Issue ID (incrementally assigned)</small></h2>
      <div class="row">
        <div class="small-6 s-ws-top columns">
          <img src="http://placehold.it/1600x900&text=bigIssueImage">
        </div>
        <div class="small-6 columns s-ws-top">
          <p> A long paragraph that shows the issue content</p>
        </div>   
      </div>
      <div class="row">
      <div class="small-12 columns">
      <hr>
      </div>
      </div>
      <div class="row">
      <div class="timeline-view">
        <div class="small-12 columns b-ws-top">
          <div class="panel p-fx">
          <div class="panel-head"><strong>MLA 1</strong> commented <small> 2 days ago</small></div>
          <p>Comment that is reallly long and is a text paragraph</p>
          </div>

          <div class="panel p-fx">
          <div class="panel-head"><strong>User 1</strong> commented <small> 1 day ago</small></div>
          <p>A second Comment that is really long and is a text paragraph and may contain media</p>
          </div>

          <div class="panel nb">
            <p><strong>user1</strong> was assigned by <strong>MLA1</strong> <small>2 days ago</small></p>
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
  <div id="details-column" class="small-3 columns panel s-ws-top">
    <h4>Details</h4>
    <div class="row">
      <div class="small-12 columns">
        Status: <span class="yc"><strong>Open</strong></span>
        // Color class changed by the status type
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns s-ws-top">
      <div class="text-center">
        <div class="button v2 fullwidth" id="claim-st1"><strong>Claim</strong></div>
        <div class="button v2 fullwidth" data-options="align:left" data-dropdown="drop1" id="claim-st2" style="display:none;"><strong>Assign</strong></div>
        <div id="claim-st3">Assigned to: <strong>Username</strong></div>
        </div>
        <ul id="drop1" class="medium f-dropdown" data-dropdown-content aria-hidden="true" tabindex="-1">
          <datalist id="team">
            <option value="user 1"></option>
            <option value="user 3"></option>
            <option value="user 2"></option>
          </datalist>
          <li><input type="text" list="team"></li>
          <li><a href="#">Username 1</a></li>
          <li><a href="#">Username 2</a></li>
          <li><a href="#">Username 3</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns s-ws-top hod">
        <img id="photo" src="http://placehold.it/1600x900&text=issueImage">
      </div>
    </div>
    <div class="row secondary">
      <div class="small-6 columns m-ws-top">
        <i class="icon-calendar"></i> <div id="date">-</div>
      </div>
      <div class="small-6 columns m-ws-top"><i class="icon-clock"></i> <div id="time">-</div></div>
    </div>
    <div class="row hod">
      <div class="small-12 columns s-ws-top">
        Type: <div id="type">-</div>
      </div>
    </div>
    <div class="row hod">
      <div class="small-12 columns">
        <hr>
        <p><div id="content">-</div></p>
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="small-12 columns secondary secondary-color">
        <i class="icon-location"></i> <div id="location">-</div>
      <div class="small-12 columns s-ws-top">
        <p>Email: <div id="email">-</div></p>
      </div>
    </div>
  </div>
</div>
</div>

{% include footer.html %} 
<script type="text/javascript" src="{{site.url}}/assets/bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/dashboard.js"></script>

  <script type="text/javascript">
      $(document).foundation();
</script>

<script type="text/javascript" src="{{site.url}}/assets/js/countUp.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/moment.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/daterangepicker.js"></script>
<script>
  $( document ).ready(function() {
    var numAnim1 = new countUp("fn1", 0, 44);
    numAnim1.start();
    var numAnim2 = new countUp("fn2", 0, 12);
    numAnim2.start();
    var numAnim3 = new countUp("fn3", 0, 19);
    numAnim3.start();  
    var numAnim4 = new countUp("fn4", 0, 108);
    numAnim4.start();

    $('input[name=maptglgroup]').change(function(){
      if($(this).is(':checked'))
      {
        $('#map-view').fadeIn(300);
        $('#list-view').delay(400).fadeOut(300);
      }
      else
      {
        $('#map-view').fadeOut();
        $('#list-view').delay().fadeIn();
      }    

    });
    $('#claim-st1').click(function(){
      $('#claim-st1').fadeOut(400);
      $('#claim-st2').delay(400).fadeIn(400);
    });
    $('#drop1 li a').click(function(){
      event.preventDefault();
      $('#claim-st2').fadeOut(400);
      $('#claim-st3').delay(400).fadeIn(400);
    });
    $('.list-table tbody tr').click(function() {
      $('#list-view').fadeOut();
      $('label').addClass('gs');
      $('input[type="checkbox"]').prop("checked", false);
      $( "#law_cb" ).prop( "checked", true );
      $('label[for="law_cb"]').removeClass('gs');
      $( "#open_it" ).prop( "checked", true );
      $('label[for="open_it"]').removeClass('gs');
      $('#updates-view').delay().fadeIn();
      $('.hod').fadeOut();
    });

    $('#reportrange').daterangepicker(
    {
      startDate: moment().subtract('days', 29),
      endDate: moment(),
      minDate: '01/01/2012',
      maxDate: '12/31/2014',
      dateLimit: { days: 60 },
      showDropdowns: true,
      showWeekNumbers: false,
      timePicker: false,
      timePickerIncrement: 1,
      timePicker12Hour: true,
      ranges: {
       'Today': [moment(), moment()],
       'Yesterday': [moment().subtract('days', 1), moment().subtract('days', 1)],
       'Last 7 Days': [moment().subtract('days', 6), moment()],
       'Last 30 Days': [moment().subtract('days', 29), moment()],
       'This Month': [moment().startOf('month'), moment()],
       'Last Month': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')],
       'This Year': [moment().startOf('year'), moment()]
     },
     opens: 'left',
     format: 'MM/DD/YYYY',
     separator: ' to ',
     locale: {
      applyLabel: 'Submit',
      fromLabel: 'From',
      toLabel: 'To',
      customRangeLabel: 'Custom Range',
      daysOfWeek: ['Su', 'Mo', 'Tu', 'We', 'Th', 'Fr','Sa'],
      monthNames: ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
      firstDay: 1
    }
  },
  function(start, end) {
    console.log("Callback has been called!");
    $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
  }
  );
    //Set the initial state of the picker label
    $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

  });
</script>
</html>
