<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Issues | Meri Awaaz</title>
  {% include header.html %}
  <div class="row control-bar b-ws-top">
    <div class="small-2 columns fx2" >
      <div id="back" style="display:none;">
        <i class="icon-left"></i><a  class="f-1-5x">Back</a>
      </div>
    </div>
    <div class="small-3 small-offset-3 columns text-right">
      <div class="switch radius">
        <span class="fx1 secondary-color">list view</span>
        <input id="maptgl" type="checkbox" checked name="maptglgroup">
        <label for="maptgl"></label>
        <span class="fx1 secondary-color">map view</span>
      </div>
    </div>
    <div class="small-4 columns panel small">
      <div id="reportrange" class="rangepicker-box secondary"><i class="icon-calendar"></i> <span></span></div>
    </div>
  </div>
  <div class="row panel filters text-center">
    <div class="small-2 columns">    
      <label for="road_cb"><input type="checkbox" id="road_cb" checked='true'><img src="./assets/images/marker-1.png">Road</label>
    </div>
    <div class="small-2 columns">
      <label for="electricity_cb"><input type="checkbox" id="electricity_cb" checked='true'><img src="./assets/images/marker-2.png"> Electricity</label>
    </div>
    <div class="small-2 columns">
      <label for="water_cb"><input type="checkbox" id="water_cb" checked='true'><img src="./assets/images/marker-3.png">Water</label>
    </div>
    <div class="small-2 columns">
      <label for="law_cb"><input type="checkbox" id="law_cb" checked='true'><img src="./assets/images/marker-4.png">Law and Order</label>
    </div>
    <div class="small-2 columns">
      <label for="sanitation_cb"><input type="checkbox" id="sanitation_cb" checked='true'><img src="./assets/images/marker-5.png">Sanitation</label>  </div>
      <div class="small-2 columns">
        <label for="transport_cb"><input type="checkbox" id="transport_cb" checked='true'><img src="./assets/images/marker-6.png">Transportation</label>
      </div>
    </div>
    <div class="row">
      <div class="small-1 columns panel text-center">
        <h4>Status</h4>
        <div class="bbm">
          <label for="open_it"><div id="fn1" class="f-2x yc">0</div>Open</label><input type="checkbox" id="open_it" checked='true'>
        </div>
        <div class="bbm">
          <label for="prog_it"><div id="fn2" class="f-2x bgc">0</div>In progress</label><input type="checkbox" id="prog_it" checked='true'>
        </div>
        <div class="bbm">
          <label for="review_it"><div id="fn3" class="f-2x bc">0</div>Review</label><input type="checkbox" id="review_it" checked='true'>
        </div>
        <div class="bbm">
          <label for="closed_it"><div id="fn4" class="f-2x dbc">0</div>Closed</label><input type="checkbox" id="closed_it" checked='true'>
        </div>
      </div>
      <div class="small-8 columns">
        <div id="map-view" class="panel p-fx">
          <div id="map" class="google-map" style="width:100%">  </div> 
        </div>
        <div id="list-view" class="panel p-fx" style="display:none;">
          <table class="list-table" id="list-view-table">
            <thead>
              <tr>
                <th>Issue Number</th>
                <th>Type</th>
                <th>Content</th>
                <th>Status</th>
                <th>Time</th>
              </tr>
            </thead>
            <tbody>
                <tr>
                <td width="100px">Loading...</td>
                <td width="100px">Loading...</td>
                <td>Loading...</td>
                <td width="100px">Loading...</td>
                <td width="100px">Loading...</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="updates-view" style="display:none;">
          <div id="map-view2" class="br-fx-top"  style="width:100%;height:200px">
            <div id="googleMap" class="google-map" style="width:100%;height:200px"></div> 
          </div>
          <div class="panel br-fx-top">
            <div class="row">
              <div class="small-8 small-centered columns" align="center">
                <img id="bigphoto" src="{{site.url}}/assets/images/loading.gif">
              </div>
            </div>
            <h2 id="ititle" class="s-ws-top text-center">Issue Title<small> Issue ID</small></h2>
            <div class="row">
              <div class="small-12 columns small-centered">
                <p id="detailedissue">A long paragraph that shows the issue content</p>
              </div>
            </div>
            <div class="row">
              <div class="small-12 columns">
                <hr>
              </div>
            </div>
            <div class="row" style="position:relative;">
              <div class="timeline-view">
                <div id="timeline-view" class="small-12 columns b-ws-top">
                  <div class="panel p-fx">
                    <div class="panel-head"><strong>MLA 1</strong> commented <small> 2 days ago</small></div>
                    <p>Comment that is reallly long and is a text paragraph</p>
                  </div>

                  <div class="panel p-fx">
                    <div class="panel-head"><strong>User 1</strong> commented <small> 1 day ago</small></div>
                    <p>A second Comment that is really long and is a text paragraph and may contain media</p>
                  </div>

                  <div class="panel nb">
                    <p><strong>user1</strong> was assigned by <strong>MLA1</strong> <small>2 days ago</small></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
            <div class="small-12 columns">
            <hr>
            </div>
            <div class="small-12 s-ws-top columns">
            <h4>Add a Comment</h4>
            </div>
              <div class="small-2 columns s-ws-top">
              <img id="profilepic" src="http://placehold.it/300x300&text=user" width="300" class="circle-img">
              </div>
              <div id="comment-view" class="small-10 columns s-ws-top">
                <form id="comment-form">
                  <textarea id="comment" rows="5" required placeholder="Contribute something meaningful to the conversation"></textarea>
                  <input type="submit" value="Comment" class="button small right">
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="details-column" class="small-3 columns panel" style="display:none;">
        <h4>Overview</h4>
        <div class="row">
          <div class="small-12 columns">
            Status: <span id="colorstatus" class="yc"><strong>Open</strong></span>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns s-ws-top">
            <div class="text-center" id="details-panel">
              <div class="button fullwidth success" data-options="align:left" data-dropdown="drop1" id="close" style="display:none;"><strong>Mark as Completed</strong></div>
              <div id="neta-panel" style="display:none;">
              <div class="text-left">
              <div class="button fullwidth" id="claim-st1"><strong>Claim</strong></div>
              <div id="claim-st3">Assigned to: <strong>no one</strong></div>
                <select id="team" style="display:none;">
                  <option value="user 1"></option>
                  <option value="user 3"></option>
                  <option value="user 2"></option>
                </select>
                </div>
                <div class="button fullwidth" data-options="align:left" data-dropdown="drop1" id="claim-st2" style="display:none;"><strong>Assign</strong></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div id="details-button" class="button secondary fullwidth"><i class="icon-left"></i>View Details</div>
        </div>
        <div class="row">
          <div class="small-12 columns s-ws-top hod text-center">
            <img id="photo" src="{{site.url}}/assets/images/loading.gif">
          </div>
        </div>
        <div class="row secondary">
          <div class="small-6 columns m-ws-top secondary">
            <i class="icon-calendar"></i> <span id="date">-</span>
          </div>
          <div class="small-6 columns m-ws-top secondary"><i class="icon-clock"></i> <span id="time">-</span></div>
        </div>
        <div class="row hod">
          <div class="small-12 columns s-ws-top">
            Type: <strong><span id="type" class="ct">-</span></strong>
          </div>
        </div>
        <div class="row hod">
          <div class="small-12 columns">
            <hr>
            <p><div id="content">-<hr></div></p>
            
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns secondary secondary-color">
            <i class="icon-location"></i> <span id="location">-</span>
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns s-ws-top">
          <div class="secondary">
            <p id="address">-</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% include footer.html %} 

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="{{site.url}}/assets/bower_components/foundation/js/foundation/foundation.dropdown.js"></script>
    

    <script type="text/javascript">
      $(document).foundation();
    </script>
    
    <script type="text/javascript" src="{{site.url}}/assets/js/countUp.min.js"></script>
    <script type="text/javascript" src="{{site.url}}/assets/js/moment.min.js"></script>
    <script type="text/javascript" src="{{site.url}}/assets/js/daterangepicker.js"></script>
    <script type="text/javascript" src="{{site.url}}/assets/js/issues.js"></script>
    <script>
      $( document ).ready(function() {
        initialize();
        //Set the initial state of the picker label
        $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));

        $('#list-view-table tbody tr').click(function() {
         NProgress.start();
         var trid = $(this).attr('id');
         var marker;
         for (var i = 0; i < markers.length; i++) { 
            if(markers.content.id==trid){
              marker=markers[i];
              break;
            }
         }
         currmarker=marker;
         updateCurrentMarker(currmarker);                        
         infowindow.setContent(currmarker.content.get('status'));
         NProgress.done(); 
         console.log('test');
        });
        // $('#assign').on('click',function(){
        //   console.log("Assignment Begins...");
        //   var g=$('#drop1').val();  
        //   var id = $('#team').find('option').filter(function() { return $.trim( $(this).text() ) === g; }).attr('id');
        //   console.log("ID"+id);
        //   postAssignment(id);
        // });

      });
    </script>
    </html>
