<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Issue | Meri Awaaz</title>
  {% include header-issue.html %}
  
  

  <div class="row">
    <div class="small-8 columns b-ws-top">
      <div id="updates-view">
        <div id="map-view2" class="br-fx-top"  style="width:100%;height:200px">
          <div id="googleMap" class="google-map" style="width:100%;height:200px">
          </div> 
        </div>
        <div class="panel br-fx-top">
          <h2 id="ititle" class="s-ws-top text-center"><small>#304</small> Issue title </h2>
          <div class="row secondary">
            <div class="small-3 columns secondary">
              <i class="icon-calendar"></i> <span id="date">Loading...</span>
            </div>
            <div class="small-3 columns secondary"><i class="icon-clock"></i> <span id="times">Loading...</span>
            </div>

            <div class="small-3 columns secondary">
              Type: <span id="type" class="ct">Loading...</span>
            </div>

            <div class="small-3 columns secondary">
              Reported by: <span id="reporter" class="ct">Loading...</span>
            </div>
          </div>
          <div class="row">
            <div class="small-6 columns text-center s-ws-top" align="center">
              <img id="bigphoto" src="{{site.url}}/assets/images/loading.gif">
              <h6>Before</h6>
            </div>
            <div class="small-6 columns text-center s-ws-top" align="center">
              <img id="afterphoto" src="{{site.url}}/assets/images/loading.gif">
              <h6>After</h6>
            </div>
          </div>

          <div class="row">
            <div class="small-12 columns small-centered">
              <p id="detailedissue">Loading...</p>
            </div>
          </div>
          <div class="row">
            <div class="small-12 columns">
              <hr>
            </div>
          </div>
          <div class="row" style="position:relative;">
            <div class="timeline-view">
              <div id="timeline-view" class="small-12 columns b-ws-top">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="small-4 columns b-ws-top">
      <h4 class="gc b-ws-top">Solved <i class="icon-solved gc"></i></h4>
      <h4><small>Solved by: </small> Rajesh Rishi <img src="http://placehold.it/100x100" class="circle-img" style="width:48px;"></h4>
      <h4><small>Committed to solve it in: </small> 12 days</h4>
      <h4><small>Actually solved it in: </small> 3 days</h4>
      <h4><small>Citizens who voiced: </small> 12</h4>
    </div>
  </div>
  <!-- {% include footer.html %}  -->
  <div class="row">
    <hr>
    <div class="small-7 columns">
      <ul class="inline-list secondary">
        <li><a href="{{site.url}}/press.html">Press</a></li>
        <li><a href="{{site.url}}/join.html">Careers</a></li>
        <li><a href="mailto:meriawaaz@mutinylabs.in">Contact</a></li>
        <li><a href="http://facebook.com/meriAwaazapp" target="_blank">Facebook</a></li>
        <li><a href="http://twitter.com/meriAwaazapp" target="_blank">Twitter</a></li>
        <li><a href="https://plus.google.com/b/116904166401766610185" rel="publisher" target="_blank">Google+</a></li>
      </ul>
    </div>
    <div class="small-5 columns">
     <ul class="inline-list secondary right">
      <li><a href="{{site.url}}/privacy-policy.html">Privacy Policy</a></li>
      <li>Built with love at <a href="http://mutinylabs.in" style="display:inline;">Mutiny Labs</a></li>
    </ul>
  </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45177246-4', 'auto');
  ga('send', 'pageview');
</script>
</body>
<script type="text/javascript" src="{{site.url}}/assets/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/bower_components/foundation/js/foundation/foundation.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/bower_components/foundation/js/foundation/foundation.topbar.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
<!-- <script type="text/javascript" src="{{site.url}}/assets/bower_components/foundation/js/foundation/foundation.dropdown.js"></script> -->


<script type="text/javascript">
  $(document).foundation();
</script>

<script type="text/javascript" src="{{site.url}}/assets/js/countUp.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/js/issue.js"></script>

</html>
