{% include header-out.html %}
    <!-- <div class="row b-ws-top">
        <div class="small-4 small-centered columns s-ws-bottom">
            <a href="{{site.url}}"><img src="{{site.url}}/assets/images/logo-full.png" alt="Meri Awaaz"></a>
        </div>
    </div> -->
    <div class="row">
        <div class="small-12 columns">
            <h3>Janakpuri campaign: Target 7000</h3>
        </div>
    </div>
    <div class="row">
        <div class="large-3 small-12 columns text-center">
            <div id="num1" class="f-2x bgc">0</div>
            <div>Voters added today</div>
        </div>
        <div class="large-3 small-12 columns text-center">
            <div id="num2" class="f-2x bc">0</div>
            <div>Voters added today</div>
        </div>
        <div class="small-3 large-4 columns text-center">
            <div id="num3" class="f-2x dbc">0</div>
            <div>Total voters</div>
        </div>
    </div>
    
    

    <script type="text/javascript" src="{{site.url}}/assets/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="{{site.url}}/assets/bower_components/foundation/js/foundation/foundation.js"></script>
    <script type="text/javascript" src="{{site.url}}/assets/js/countUp.min.js"></script>
    <script>


        function updateCounters(){
            Parse.initialize("km3gtnQr78DlhMMWqMNCwDn4L1nR6zdBcMqzkUXt", "BS9nk6ykTKiEabLX1CwDzy4FLT1UryRR6KsdRPJI");
            // Query Expiration
            var d = new Date();
            var todaysDate = new Date(d.getTime()); 
            //query.greaterThanOrEqualTo( "expiration", todaysDate );

            var users = Parse.Object.extend("Citizen").equalTo('constituency','7TRhKjpDcW');
            var issues = Parse.Object.extend("Issues");
            var query1 = new Parse.Query(users);
            var query2 = new Parse.Query(users);
            var query3 = new Parse.Query(users);

            query1.count({
              success: function(count1) {
                var numAnim1 = new countUp("num1", 0, count1);
                numAnim1.start();
            },
            error: function(error) {
                alert("Error: " + error.code + " " + error.message);
            }
        });

            query2.count({
              success: function(count2) {
                var numAnim2 = new countUp("num2", 0, count2);
                numAnim2.start();
            },
            error: function(error) {
                alert("Error: " + error.code + " " + error.message);
            }
        });

            query3.count({
              success: function(count3) {
                var numAnim3 = new countUp("num3", 0, count3);
                numAnim3.start();
               // NProgress.done();
            },
            error: function(error) {
                alert("Error: " + error.code + " " + error.message);
            }
        });

        }


        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45177246-4', 'auto');
      ga('send', 'pageview');
      $(document).ready(function() {
        updateCounters();
    });
  </script>
</body>
</html>
