<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Aboard | Meri Awaaz</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <link href="https://fontastic.s3.amazonaws.com/8Qdq3qjYhFhJLC24tseVVc/icons.css" rel="stylesheet">
    <!-- <script src="bower_components/modernizr/modernizr.js"></script> -->
    <meta name="twitter:card" content="app">
    <meta name="twitter:description" content="A Mobile-first platform that connects Citizens with their Netas and Government officials for Open, Accessible and Accountable Governance">
    <meta name="twitter:app:country" content="India">
    <meta name="twitter:app:name:googleplay" content="Meri Awaaz | my voice. my right.">
    <meta name="twitter:app:id:googleplay" content="com.meriawaaz.mygap">
    <meta name="twitter:app:url:googleplay" content="https://play.google.com/store/apps/details?id=com.meriawaaz.mygap">

    <meta property="og:title" content="Meri Awaaz | my voice. my right."/>
    <meta property="og:image" content="http://dl.dropboxusercontent.com/u/37351082/fb-logo.png"/>
    <meta property="og:site_name" content="Meri Awaaz | my voice. my right."/>
    <meta property="og:description" content="A Mobile-first platform that connects Citizens with their Netas and Government officials for Open, Accessible and Accountable Governance"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://meriawaazapp.com/" />
    <meta property="fb:app_id" content="261087750752180" />

    <link rel="icon" type="image/png" href="{{site.url}}/assets/images/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="{{site.url}}/assets/images/favicon.ico"/><![endif]-->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45177246-4', 'auto');
      ga('send', 'pageview');
  </script>
</head>
<body class="press">
    <div class="row b-ws-top">
        <div class="small-4 small-centered columns s-ws-bottom">
            <a href="{{site.url}}"><img src="assets/images/logo-full.png" alt="Meri Awaaz"></a>
        </div>
    </div>
    
    <div class="row">
        <div class="icon-bg">
        </div>
        <div class="small-12 columns text-center b-ws-top b-ws-bottom">
            <h5 class="nm">We are building India's largest mobile-first platform that </h5>
            <h4 class="nm">Connects Citizens with their Netas and Government officials</h4>
            <h5 class="nm"> for Open, Accessible and Accountable Governance</h5>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center">
            <div class="f-2x wc s-ws-bottom"><span class="bgbg pd1">Are you going to be limited by what others think is possible</span></div>
            <div class="f-2-5x wc"><span class="bbg pd1"> or Are you going to join us and Change the World</span></div>
            <div class="f-2x wc s-ws-top b-ws-bottom"><span class="dbbg pd1">Impossible is not a fact, it is an opinion</span></div>
        </div>
    </div>
    <div class="panel icon-bg-fx">
        <div class="row">
            <div class="small-7 columns text-right">
                <h3 class="nm">Do we have your attention now?</h3>
                <p class="secondary-color">Drop us an email and we will keep you posted about job updates before anyone else gets them</p>
            </div>
            <div class="small-5 columns">
                <form action="//mutinylabs.us7.list-manage.com/subscribe/post?u=9b688616a7ed0e7e6af4d1344&amp;id=9b77127b96" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll" class="row collapse">
                        <div class="small-9 columns">
                            <div class="mc-field-group">
                                <input type="email" value="" name="EMAIL" class="required email lead" id="mce-EMAIL" placeholder="Email Address">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_9b688616a7ed0e7e6af4d1344_9b77127b96" tabindex="-1" value=""></div>
                        </div>
                        <div class="small-3 columns">
                            <input type="submit" value="Connect" name="subscribe" id="mc-embedded-subscribe" class="button fullwidth small">
                        </div>
                    </div>
                </form>
            </style>
        </div>
    </div>
</div>

<div class="row">
  <hr>
    <div class="small-7 columns">
        <ul class="inline-list secondary">
          <li><a href="{{site.url}}/press.html">Press</a></li>
          <li><a href="{{site.url}}/join.html">Careers</a></li>
          <li><a href="mailto:meriawaaz@mutinylabs.in">Contact</a></li>
          <li><a href="http://facebook.com/meriAwaazapp" target="_blank">Facebook</a></li>
          <li><a href="http://twitter.com/meriAwaazapp" target="_blank">Twitter</a></li>
          <li><a href="https://plus.google.com/b/116904166401766610185" rel="publisher" target="_blank">Google+</a></li>
        </ul>
    </div>
    <div class="small-5 columns">
        <ul class="inline-list secondary right">
            <li><a href="{{site.url}}/privacy-policy.html">Privacy Policy</a></li>
            <li>Built with love at <a href="http://mutinylabs.in" style="display:inline;">Mutiny Labs</a></li>
        </ul>
    </div>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45177246-4', 'auto');
  ga('send', 'pageview');
</script>
</body>
<script type="text/javascript" src="{{site.url}}/assets/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/bower_components/foundation/js/foundation/foundation.js"></script>
<script src="{{site.url}}/assets/js/app.js"></script>

<script>
    /*$(document).foundation(
        ); */
$(document).ready(function(){
    icon_bg();
    icon_bg(); 
}); 
</script>
</body>
</html>
