{% include header-out.html %}
<div class="row">
  <div class="small-8 columns text-right">
    <h2 class="hero-heading m-ws-top">
      <div><span class="bgbg wc">Enabling</span></div>
      <div><span class="bbg wc">Citizen-Government connect</span></div>
      <div><span class="dbbg wc">through Mobile acess</span></div>
    </h2>
  </div>
  <div class="small-4 columns">
    <div class="panel b-ws-top">
      <div id="login">
        <form class="b-ws-top" id="login-form" onSubmit="login();">
          <div class="row">
            <div class="large-12 columns">
              <label>Email
                <input type="email" placeholder="you@example.com" id="email" required />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="large-12 columns">
              <label>Password
                <input type="password" placeholder="password" id="password" required />
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-  12 text-right columns s-ws-bottom">
              <a onclick="resetPassword();">forgot password?</a>
            </div>
          </div>
          <input type="submit" value="Sign In" class="button fullwidth small" /> 
        </form>
        <div class="row">
          <div class="small-12 columns text-center">
            <a onclick='setVisibility(0);'>Sign up for an account here</a>
          </div>
        </div>
      </div>
      <div id="signup" style="display: none">
        <form class="b-ws-top" id="signup-form" onSubmit="signup();">
          <input type="email" id="email" placeholder="Email" required/>
          <input type="password" id="password" placeholder="Password" required/>
          <input type="password" id="confirmation" placeholder="Re-enter Password" required/>
          <input type="submit" value="Sign up" class="button fullwidth small" />    
        </form>
        <div class="row">
          <div class="small-12 columns text-center">
            Already got an account?
            <a onclick='setVisibility(1);'>Sign in</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel b-ws-top">
  <div class="row">
    <div class="small-4 columns text-center">
      <div id="num1" class="f-3x bgc">1</div>
      <div>Issues Reported</div>
    </div>
    <div class="small-4 columns text-center">
      <div id="num2" class="f-3x bc">2</div>
      <div>Users</div>
    </div>
    <div class="small-4 columns text-center">
      <div id="num3" class="f-3x dbc">3</div>
      <div>Public officials</div>
    </div>
  </div>
</div>
<div id="gifbox">
  <div id="load" style="display: none" align="center">
    <div id="oroptioncenter" align="center">
      <img id="loading" src="./assets/images/loading.gif" height="50" width="50">
    </div>
  </div>
</div>

  {% include footer.html %}

  <script type="text/javascript" src="{{site.url}}/assets/js/countUp.min.js"></script>
  <script>
  $( document ).ready(function() {
    var numAnim1 = new countUp("num1", 0, 448);
    numAnim1.start();
    var numAnim2 = new countUp("num2", 0, 832);
    numAnim2.start();
    var numAnim3 = new countUp("num3", 0, 19);
    numAnim3.start();
  });</script>
  </html>
