{% include header-out.html %}
<div class="row">
  <div class="small-6 columns text-right b-ws-top">
    <h3 class="hero-heading b-ws-top">
      <div><span class="bgbg wc">Connecting Citizens with</span></div>
      <div><span class="bbg wc">Governments and Elected Officials</span></div>
      <div><span class="dbbg wc">through the Mobile platform</span></div>
    </h3>
  </div>
  <div class="small-3 columns b-ws-top">
    <img src="{{site.url}}/assets/images/phone.png">
  </div>
  <div class="small-3 columns panel s-ws-top">
    <div id="signin">
      <form class="s-ws-top" id="signin-form" onSubmit="login();">
        <div class="row">
          <div class="large-12 columns">
            <label>Email
              <input type="email" placeholder="you@example.com" id="email" required />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Password
              <input type="password" placeholder="password" id="password" required />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="small-12 text-right columns m-ws-bottom secondary">
            <a onclick="resetPassword();">forgot password?</a>
          </div>
        </div>
        <input type="submit" value="Sign In" id="signin-btn" class="button fullwidth small" /> 

        <!--<div id="loading-btn" class="fullwidth text-center" style="display:none;" align="center"><img src="{{site.url}}/assets/images/loading.gif"></div>-->
      </form>
      <!--<div class="row">
        <div class="small-12 columns text-center">
          <a onclick='setVisibility(0);' class="secondary-color">or Sign up for a new account</a>
        </div>
      </div>-->
    </div>
    <!--
    <div id="signup">
      <form class="s-ws-top" id="signup-form" onSubmit="signup();">
        <div class="row">
          <div class="large-12 columns">
            <label>Email
              <input type="email" id="email" placeholder="you@example.com" required/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Password
              <input type="password" placeholder="password" id="password" required />
            </label>
          </div>
        </div>
        <div class="row">
          <div class="large-12 columns">
            <label>Re-enter Password
              <input type="password" id="confirmation" placeholder="Re-enter Password" required/>
            </label>
          </div>
        </div>
        
        <input type="submit" value="Sign up for Free" id="signup-btn" class="button fullwidth small" />
        <div id="loading-btn" class="fullwidth text-center" style="display:none;"><img src="{{site.url}}/assets/images/loading.gif"></div>
      </form>
      <div class="row">
        <div class="small-12 columns text-center">
          Already have an account?
          <a onclick='setVisibility(1);' class="button secondary tiny fullwidth">Sign in</a>
        </div>
      </div>
    </div>
    -->

  </div>
</div>
<div class="panel">
  <div class="row">
    <div class="small-4 columns text-center">
      <div id="num1" class="f-3x bgc">1</div>
      <div>Issues Reported</div>
    </div>
    <div class="small-4 columns text-center">
      <div id="num2" class="f-3x bc">2</div>
      <div>Users</div>
    </div>
    <div class="small-4 columns text-center">
      <div id="num3" class="f-3x dbc">3</div>
      <div>Public officials</div>
    </div>
  </div>
</div>
<div class="row">
  <div class="small-12 columns text-center">
    <div class="row">
      <div class="small-4 columns b-ws-top">
        <i class="icon-broadcast f-4x dbc"></i>
        <h4>Reach out to more Voters</h4>
        <p class="secondary-color">
          Spread your message directly to your voters by constituency level targeting
        </p>
      </div>
      <div class="small-4 columns b-ws-top">
        <i class="icon-trophy f-4x dbc"></i>
        <h4>Showcase your Work</h4>
        <p class="secondary-color">
          Let your voters know about the work done by you in their area and let them share it with their friends
        </p>
      </div>
      <div class="small-4 columns b-ws-top">
        <i class="icon-network f-4x dbc"></i>
        <h4>Digital Politics</h4>
        <p class="secondary-color">
          Keep in touch with the times of 'Digital India'. Keep your voters informed about your activties
        </p>
      </div>
      
    </div>
    <div class="row b-ws-top">
      <div class="small-4 columns b-ws-top">
        <i class="icon-phone f-4x dbc"></i>
        <h4>Connect with your People</h4>
        <p class="secondary-color">
          Gain a direct connect with your voters where you can answer their questions and interact with them</p>
        </div>
        <div class="small-4 columns b-ws-top">
          <i class="icon-organization f-4x dbc"></i>
          <h4>Manage your Volunteers</h4>
          <p class="secondary-color">Mobilize your team effectively and assign tasks for a better campaign</p>
        </div>
        <div class="small-4 columns b-ws-top">
          <i class="icon-alert f-4x dbc"></i>
          <h4>Identify the Local Issues</h4>
          <p class="secondary-color">Gain a pulse of the most pressing problems faced by your voters and strategize accordingly</p>
        </div>
      </div>
    </div>
  </div>
  <div class="panel m-ws-top">
    <div class="row">
      <div class="small-7 columns text-right s-ws-top">
        <h2 class="dbc">Need help getting starting?</h2>
        <p class="secondary secondary-color">Drop your details and we will get back within 24 hours</p>
      </div>
      <div class="small-5 columns s-ws-top">
        <div class="row">
          <div class="large-12 columns">
            <div class="row collapse">
              <div class="small-10 columns">
               <input type="text" placeholder="Drop your Phone or Email" class="lead">
              </div>
              <div class="small-2 columns">
                <a href="#" class="postfix lead">Go</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="gifbox">
    <div id="load" style="display: none" align="center">
      <div id="oroptioncenter" align="center">
        <img id="loading" src="./assets/images/loading.gif" height="50" width="50">
      </div>
    </div>
  </div>

  {% include footer.html %}
  
  <script type="text/javascript" src="{{site.url}}/assets/js/login.js"></script>
  <script type="text/javascript" src="{{site.url}}/assets/js/countUp.min.js"></script>
  <script>
    $( document ).ready(function() {
      var numAnim1 = new countUp("num1", 0, 448);
      numAnim1.start();
      var numAnim2 = new countUp("num2", 0, 832);
      numAnim2.start();
      var numAnim3 = new countUp("num3", 0, 19);
      numAnim3.start();

      //$('#signup-form').submit(function(){
      //  $('#signup-btn').fadeOut();
      //  $('#loading-btn').delay().fadeIn();
      //});

      $('#signin-form').submit(function(event){
        event.preventDefault();
        //$('#signin-btn').fadeOut();
        //$('#loading-btn').delay().fadeIn();
        login();
      });
    });</script>
    <script type="text/javascript">
      $(document).foundation();
    </script>
    </html>
