<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Press Kit | Meri Awaaz</title>
    <link rel="stylesheet" href="{{site.url}}/assets/css/style.css" />
    <link href="https://fontastic.s3.amazonaws.com/8Qdq3qjYhFhJLC24tseVVc/icons.css" rel="stylesheet">
    <!-- <script src="bower_components/modernizr/modernizr.js"></script> -->
    <meta name="twitter:card" content="app">
    <meta name="twitter:description" content="A Mobile-first platform that connects Citizens with their Netas and Government officials for Open, Accessible and Accountable Governance">
    <meta name="twitter:app:country" content="India">
    <meta name="twitter:app:name:googleplay" content="Meri Awaaz | my voice. my right.">
    <meta name="twitter:app:id:googleplay" content="com.meriawaaz.mygap">
    <meta name="twitter:app:url:googleplay" content="https://play.google.com/store/apps/details?id=com.meriawaaz.mygap">

    <meta property="og:title" content="Meri Awaaz | my voice. my right."/>
    <meta property="og:image" content="http://dl.dropboxusercontent.com/u/37351082/fb-logo.png"/>
    <meta property="og:site_name" content="Meri Awaaz | my voice. my right."/>
    <meta property="og:description" content="A Mobile-first platform that connects Citizens with their Netas and Government officials for Open, Accessible and Accountable Governance"/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://meriawaazapp.com/" />
    <meta property="fb:app_id" content="261087750752180" />

    <link rel="icon" type="image/png" href="{{site.url}}/assets/images/favicon.png">
    <!--[if IE]><link rel="shortcut icon" href="{{site.url}}/assets/images/favicon.ico"/><![endif]-->
</head>
<body class="press">
    <div class="row b-ws-top">
        <div class="small-4 small-centered columns s-ws-bottom">
            <a href="{{site.url}}"><img src="{{site.url}}/assets/images/logo-full.png" alt="Meri Awaaz"></a>
        </div>
    </div>
    <div data-magellan-expedition="fixed" class="b-ws-bottom">
        <div class="press-nav row">
            <div class="text-center">
                <dl class="sub-nav">
                    <dd data-magellan-arrival="1"><a href="#1">Quick View</a></dd>
                    <dd data-magellan-arrival="2"><a href="#2">About</a></dd>
                    <dd data-magellan-arrival="3"><a href="#3">Our Story</a></dd>
                    <dd data-magellan-arrival="4"><a href="#4">Team</a></dd>
                    <dd data-magellan-arrival="5"><a href="#5">Brand</a></dd>
                    <dd data-magellan-arrival="6"><a href="#6">Good word</a></dd>
                    <dd data-magellan-arrival="7"><a href="#7">Future Quest</a></dd>
                    <dd data-magellan-arrival="9"><a href="#9">Contact</a></dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-12 columns text-center b-ws-bottom">
            <h3 class="nm s-ws-top">India's first platform that </h3>
            <h2 class="dbc">Connects Citizens with their Netas and Government officials</h2>
            <h3 class="nm"> for Open, Accessible and Accountable Governance</h3>
            <p class="s-ws-top secondary-color">Mobile-first | Candidate Report Cards | Real-time discussions | Under 3 sec issue reporting | Digital governance</p>
           <!-- <h3 class="nm secondary-color">Time till complete Delhi roll out</h3>
            <div id="countdown" class="m-ws-bottom"></div>
            <h3 class="nm dbc">Next Push</h3>
            <h5 class="s-ws-top"><small>5th Jan</small> Beta Launch of Issues Module <small>Get to participate in the issues of your locality</small></h5>
            <h5 class="s-ws-top"><small>6th Jan</small> Beta Launch of Netas Profile Module <small>Know your MLA candidates</small></h5> -->
        </div>
    </div>
    <div class="panel">
        <div class="row">
            <div class="small-7 columns text-right">
                <h3 class="nm">Do we have your attention now?</h3>
                <p class="secondary-color">Drop us an email and we will keep you posted about updates before anyone else gets them</p>
            </div>
            <div class="small-5 columns">
                <form action="//mutinylabs.us7.list-manage.com/subscribe/post?u=9b688616a7ed0e7e6af4d1344&amp;id=9b77127b96" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll" class="row collapse">
                        <div class="small-9 columns">
                            <div class="mc-field-group">
                                <input type="email" value="" name="EMAIL" class="required email lead" id="mce-EMAIL" placeholder="Email Address">
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>
                            <div style="position: absolute; left: -5000px;"><input type="text" name="b_9b688616a7ed0e7e6af4d1344_9b77127b96" tabindex="-1" value=""></div>
                        </div>
                        <div class="small-3 columns">
                            <input type="submit" value="Connect" name="subscribe" id="mc-embedded-subscribe" class="button fullwidth small">
                        </div>
                    </div>
                </form>
            </style>
        </div>
    </div>
</div>
<div class="row">
    <div class="small-2 columns text-right s-ws-top">
        <a name="1"></a>
        <h3 data-magellan-destination="1" class="bgc">Quick View</h3>
        <h6><strong>Name</strong><br>
            Meri Awaaz</h6>
            <h6><strong>URL</strong><br>
                <a href="http://meriawaazapp.com">meriawaazapp.com</a></h6>
                <h6><strong>Company</strong><br><a href="http://mutinylabs.in" target="_blank">Mutiny Labs</a></h6>
                <h6><strong>Founding date</strong><br>July 2014</h6>
                <h6><strong>Link to app</strong><br><a href="https://play.google.com/store/apps/details?id=com.meriawaaz.mygap" target="_blank">Google Play store</a></h6>
                <h6><strong>Social links</strong><br><a href="http://facebook.com/meriawaazapp" target="_blank">Facebook</a><br><a href="http://twitter.com/meriawaazapp" target="_blank">Twitter</a></h6>
                <h6><strong>Press Contact</strong><br><a href="mailto:press@meriawaaz@mutinylabs.in">press@mutinylabs.in</a></h6>

            </div>
            <div class="small-7 columns panel end">
                <a name="2"></a>
                <h3 data-magellan-destination="2" class="bc">About Meri Awaaz</h3>
                <p>Meri Awaaz is India's first platform that Connects Citizens with their Netas and Government officials for Open, Accessible and Accountable Governance. It is mobile-first realtime public engagement tool that makes catching up with the work being done in your area as easy as following up your timeline.</p>
                <div class="text-center f-1-5x bgc fi">Is baar vote do, Jaankaari ke saath</div>
                <p class="s-ws-top">During Elections, you can follow all candidates from your constituency and their activities while also engaging them in discussions around issues that are relevant to you. You can also ask questions to either one particular candidate or all of them and have a meaningful discussion before you vote. You can also view their past work and interaction history in an easy to read report card and compare them against each other to make an informed choice</p>
                <div class="text-center f-1-5x bgc fi">Click karo, Desh Badlo</div>
                <p class="s-ws-top">You can also view civic issues (reported by other people) of your consituency and engage with them by upvoting or contributing to the discussion. You can also simply snap a picture and report an issue under either road, electricity, water, public transport, sanitation and law and order. The issue is automatically routed to the right department through the existing legal mechanisms and is also open to the candidates. They can take up the responsibility to get it resolved and the system ensures that it reflects against their profiles and they earn brownie points for it. The citizens can in turn get real time updates of actions taken on the issue and can view its progress through the app.</p>
                <div class="text-center f-1-5x bgc fi">Digital Rajneeti</div>
                <p class="s-ws-top">The platform creates a win-win situation for all sides by helping government departments and candidates understand the current issues in an area and connect with the local pulse. Netas also find a medium to connect with their electorate and showcase their work, thus incentivizing Development and Issue based politics. The platform also provides an easy way to manage a volunteer team to help resolve issues faster.</p>
                <p class="s-ws-top">The platform works similarly after the elections and connects users with their elected MLAs and provides the MLAs an incentive to deliver on their promises.</p>  


                <a name="3"></a>
                <h3 data-magellan-destination="3" class="bc">Our Story</h3>
                <h4 class="secondary-color">Audacity, Clarity and Excellence.</h4>
                <p>Mutiny Labs is a product design startup from Delhi, India that builds and scales web and mobile products that challenge the status quo. They are a 2 year old startup with the goal of putting India on the global technology entrepreneurship map and are the force behind meri Awaaz. The company is based in Delhi with operations also in Mumbai and Bengaluru.</p>
                
                <a name="4"></a>
                <h3 data-magellan-destination="4" class="bc">People</h3>
                <h4 class="s-ws-top">Team</h4>
                <ul class="small-block-grid-4 text-center s-ws-top">
                    <li><img class="circle-img gs hv" src="{{site.url}}/assets/images/team/akn.jpg"><h5 class="s-ws-top">Aditya Nayak</h5>Founder</li>
                    <li><img class="circle-img gs hv" src="{{site.url}}/assets/images/team/sg.jpg"><h5 class="s-ws-top">Shashank Gautam</h5>Operations</li>
                    <li><img class="circle-img gs hv" src="{{site.url}}/assets/images/team/mg.jpg"><h5 class="s-ws-top">Manan Gakhar</h5>Product</li>
                    <li><img class="circle-img gs hv" src="{{site.url}}/assets/images/team/dg.jpg"><h5 class="s-ws-top">Danish Goel</h5>Product</li>
                    <li><img class="circle-img gs hv" src="{{site.url}}/assets/images/team/sa.jpg"><h5 class="s-ws-top">Sarthak Ahuja</h5>Product</li>
                    <li><img class="circle-img gs hv" src="{{site.url}}/assets/images/team/ag.jpg"><h5 class="s-ws-top">Anchita Goel</h5>Product</li>
                    <li><img class="circle-img gs hv" src="{{site.url}}/assets/images/team/mp.jpg"><h5 class="s-ws-top">Mansi Panwar</h5>Community Outreach</li>
                </ul>
                <h4 class="b-ws-top">Volunteer Core</h4>
                <h5>Manoj Kumar</h5>
                <h5>Kaarthik SR</h5>
                <h5>Yash Mittal</h5>
                <h5>Rishabh Verma</h5>


                <a name="5"></a>
                <h3 data-magellan-destination="5" class="bc">Brand Guidelines</h3>
                <a href="{{site.url}}/downloads/media.zip" download class="button right tiny">Download brand files</a>
                <h5 class="b-ws-top">Logo without tagline</h5>
                <img src="{{site.url}}/assets/images/logo.png">
                <h5 class="b-ws-top">Logo with tagline</h5>
                <img src="{{site.url}}/assets/images/logo-full.png">


                <a name="6"></a>
                <h3 data-magellan-destination="6" class="bc">Good Word</h3>
                <h5 class="s-ws-top">Media</h5>
                <ul class="small-block-grid-6 s-ws-top">
                    <li><a href="http://www.ndtv.com/video/player/heads-up/satya-nadella-s-secret-to-success/340190#t=948" target="_blank"><img src="{{site.url}}/assets/images/media/ndtvprofit.png"></a></li>
                    <li><a href="http://www.youthkiawaaz.com/2014/07/app-can-help-file-complaints-issues-electricity-phone/" target="_blank"><img src="{{site.url}}/assets/images/media/youthkiawaaz.png"></a></li>
                    <li><a href="http://gadgets.ndtv.com/apps/features/building-a-better-india-one-app-at-a-time-577410" target="_blank"><img src="{{site.url}}/assets/images/media/ndtv.jpg"></a></li>
                    <li><a href="http://scroll.in/article/683529/Four-Indian-apps-that-are-strong-contenders-for-Facebook's-$250,000-social-innovation-prize" target="_blank"><img src="{{site.url}}/assets/images/media/scroll.jpg"></a></li>
                    <li><a href="https://www.youtube.com/watch?v=sr_CENoepls" target="_blank"><img src="{{site.url}}/assets/images/media/radiomirchi.jpg"></a></li>
                </ul>
        <!-- <h4 class="m-ws-top">What people are saying about us</h4>
        <div class="row">
        <div class="small-4 columns">
        Coming soon
        </div>
        <div class="small-4 columns">
        
        </div>
        <div class="small-4 columns">
        
        </div>
    </div> -->

    <!-- <h4 class="m-ws-top">Friends of Meri Awaaz</h4>
    <ul class="small-block-grid-3 text-center">
        <!-- <li><img class="circle-img" src="{{site.url}}/assets/images/media/ei.png"><br>Empowering India</li>
        <li><img class="circle-img" src="{{site.url}}/assets/images/media/ccs.png"><br>Center of Civil Society</li>
            <!-- <li><img class="circle-img" src="http://api.randomuser.me/portraits/med/men/92.jpg"><br>Alberto Hoffman</li>
            <li><img class="circle-img" src="http://api.randomuser.me/portraits/med/women/15.jpg"><br>Charlotte Frazier</li> -->
         <!--   <li>Want to contribute?<a href="http://www.facebook.com/groups/329245463890848/" target="_blank">Find us here</a></li>
     </ul> -->

     <a name="7"></a>
     <h3 data-magellan-destination="7" class="bc">Future Quest</h3>
     <p>The goal is to become a nationwide platform that acts as a balance between the elected and the electorate by enabling efficiencies on both sides. Delhi Elections 2014 are the start of the intense journey to create a nationwide movement and introduce digital politics all over the world.
     </p>
     
     
     <a name="9"></a>
     <h3 data-magellan-destination="7" class="bc">Contact</h3>
     <div class="row">
        <div class="small-6 columns ">
            <h5><strong>Email</strong><br><a href="mailto:meriawaaz@mutinylabs.in">meriawaaz@mutinylabs.in</a></h5>
            <h5><strong>Twitter</strong><br><a href="http://twitter.com/meriawaazapp">twitter.com/meriawaazapp</a></h5>
            <h5><strong>Facebook</strong><br><a href="http://facebook.com/meriawaazapp">facebook.com/meriawaazapp</a></h5>
            <h5><strong>Web</strong><br><a href="http://meriawaazapp.com">meriawaazapp.com</a></h5>
        </div>
    </div>
</div>
<div class="small-3 columns s-ws-top">
    <h3 class="dbc">Timeline</h3>
    <ul class="naked timeline">
        <li><small class="secondary-color">Jan 2015</small> <br>Version 2 deployed</li>
        <li><small class="secondary-color">Jan 2015</small> <br>Version 2 roll out starts</li>
        <li><small class="secondary-color">December 2014</small> <br>Product evolves into a platform</li>
        <li><small class="secondary-color">December 2014</small> <br>Volunteer groups get formed and Team scales up</li>
        <li><small class="secondary-color">Novermber 2014</small> <br>1000 users milestone</li>
        <li><small class="secondary-color">October 2014</small> <br>Version 1 goes live</li>
        <li><small class="secondary-color">September 2014</small> <br>Team building starts</li>
        <li><small class="secondary-color">September 2014</small> <br>100 issues milestone</li>
        <li><small class="secondary-color">August 2014</small> <br>Beta Launch </li>
        <li><small class="secondary-color">Auguest 2014</small> <br>Reached first 100 users</li>
        <li><small class="secondary-color">July 2014</small> <br>Prototype Launch</li>
    </ul>
</div>
</div>    
<div class="row">
  <hr>
  <div class="small-7 columns">
    <ul class="inline-list secondary">
      <li><a href="{{site.url}}/press.html">Press</a></li>
      <li><a href="{{site.url}}/join.html">Careers</a></li>
      <li><a href="mailto:meriawaaz@mutinylabs.in">Contact</a></li>
      <li><a href="http://facebook.com/meriAwaazapp" target="_blank">Facebook</a></li>
      <li><a href="http://twitter.com/meriAwaazapp" target="_blank">Twitter</a></li>
      <li><a href="https://plus.google.com/b/116904166401766610185" rel="publisher" target="_blank">Google+</a></li>
  </ul>
</div>
<div class="small-5 columns">
   <ul class="inline-list secondary right">
    <li><a href="{{site.url}}/privacy-policy.html">Privacy Policy</a></li>
    <li>Built with love at <a href="http://mutinylabs.in" style="display:inline;">Mutiny Labs</a></li>
</ul>
</div>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-45177246-4', 'auto');
  ga('send', 'pageview');
</script>
</body>
<script type="text/javascript" src="{{site.url}}/assets/bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="{{site.url}}/assets/bower_components/foundation/js/foundation/foundation.js"></script>
<script src="{{site.url}}/assets/bower_components/foundation/js/foundation/foundation.magellan.js"></script>
<!-- <script src="{{site.url}}/assets/js/jquery.countdown.min.js"></script> -->
<script>
    $(document).foundation({
        magellan: {
            active_class: 'active',
            threshold: 0,
            destination_threshold: 5,
            throttle_delay: 50 
        },
        /*orbit: {
            animation: 'fade', 
            timer: false,
        } */
    });
   /* $(document).ready(function(){
        /* $('.walkthrough .circles').click(function(event){
            $('.circles.active').removeClass('active');
            $(this).addClass('active');event.preventDefault();
        });  */ 
  /*  $('#countdown').countdown('2015/1/26').on('update.countdown', function(event) {
        var $this = $(this).html(event.strftime(''
           + '<span class="s-ws-side"><span class="f-4x">%-w</span> week%!w</span>'
           + '<span class="s-ws-side"><span class="f-4x yc">%-d</span> day%!d</span>'
           + '<span class="s-ws-side"><span class="f-4x bgc">%H</span> hours</span>'
           + '<span class="s-ws-side"><span class="f-4x bc">%M</span> mins</span>'
           + '<span class="s-ws-side"><span class="f-4x dbc">%S</span> sec</span>'));
    });
}); */
</script>
</body>
</html>
