<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Press Kit | Meri Awaaz</title>
    <link rel="stylesheet" href="assets/css/style.css" />
    <!-- <script src="bower_components/modernizr/modernizr.js"></script> -->
	<meta name="twitter:card" content="app">
	<meta name="twitter:description" content="Making governance Accessible and Accountable through mobile access">
	<meta name="twitter:app:country" content="India">
	<meta name="twitter:app:name:iphone" content="Meri Awaaz">
	<meta name="twitter:app:id:iphone" content="306934135">
	<meta name="twitter:app:url:iphone" content="example://action/5149e249222f9e600a7540ef">
	<meta name="twitter:app:name:ipad" content="Meri Awaaz">
	<meta name="twitter:app:id:ipad" content="306934135">
	<meta name="twitter:app:url:ipad" content="example://action/5149e249222f9e600a7540ef">
	<meta name="twitter:app:name:googleplay" content="Meri Awaaz">
	<meta name="twitter:app:id:googleplay" content="com.example.app">
	<meta name="twitter:app:url:googleplay" content="http://example.com/action/5149e249222f9e600a7540ef">

	<meta property="og:title" content="Meri Awaaz"/>
	<meta property="og:image" content="http://meriawaazapp.com/assets/images/fb-logo.png"/>
	<meta property="og:site_name" content="Meri Awaaz"/>
	<meta property="og:description" content="Making governance Accessible and Accountable through mobile access"/>

	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-45177246-4', 'auto');
		ga('send', 'pageview');
	</script>
</head>
<body class="press">
    <div class="row b-ws-top">
        <div class="small-4 small-centered columns ">
            <img src="assets/images/logo.png" alt="Meri Awaaz">
        </div>
        <hr>
    </div>
    <div data-magellan-expedition="fixed" class="b-ws-bottom">
            <div class="press-nav row">
            <div class="text-center">
                <dl class="sub-nav">
                    <dd data-magellan-arrival="1"><a href="#1">FactSheet</a></dd>
                    <dd data-magellan-arrival="2"><a href="#2">About</a></dd>
                    <dd data-magellan-arrival="3"><a href="#3">Our Story</a></dd>
                    <dd data-magellan-arrival="4"><a href="#4">App</a></dd>
                    <dd data-magellan-arrival="5"><a href="#5">Brand</a></dd>
                    <dd data-magellan-arrival="6"><a href="#6">Good word</a></dd>
                    <dd data-magellan-arrival="7"><a href="#7">Future Quest</a></dd>
                    <dd data-magellan-arrival="8"><a href="#8">Team</a></dd>
                    <dd data-magellan-arrival="9"><a href="#9">Contact</a></dd>
                    <dd data-magellan-arrival="10"><a href="#10">Media Spotlight</a></dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="small-2 small-offset-2 columns text-right">
        <a name="1"></a>
        <h3 data-magellan-destination="1">FactSheet</h3>
            <h6><strong>Name</strong><br>
            Meri Awaaz</h6>
            <h6><strong>URL</strong><br>
            <a href="http://meriawaazapp.com">meriawaazapp.com</a></h6>
            <h6><strong>Company</strong><br><a href="http://mutinylabs.in" target="_blank">Mutiny Labs</a></h6>
            <h6><strong>Founding date</strong><br>July 2014</h6>
            <h6><strong>Link to app</strong><br><a href="#">Google Play store</a></h6>
            <h6><strong>Social links</strong><br><a href="#">Facebook</a><br><a href="#">Twitter</a></h6>
            <h6><strong>Press Contact</strong><br><a href="mailto:press@meriawaaz@mutinylabs.in">press@mutinylabs.in</a></h6>

        </div>
        <div class="small-6 columns">
        <a name="2"></a>
        <h3 data-magellan-destination="2">About Meri Awaaz</h3>
        <h4>It is time for change. Because, there is no such thing as small change.</h4>
        <p>Meri Awaaz is a movement of social change to make governance delivery accessible and accountable. The launch of the android app marks the beginning of this journey. </p>
        <p>Using the app, people can report issues about roads, electricity, water, law and order, sanitation, transportation and the system detects the location automatically and allows users to submit other details like photos and complaint.</p>
        <p>Once the complete system is in place, the complaint will be automatically routed to the responsible official in the correct department. The official can see the complaint details along with other pending issues on our easy to use dashboard and respond efficiently and quickly. Complaints also get automatically escalated if not addressed in a particular time.</p>
        <p>Higher officials can also evaluate the performance of the officials under them while looking at the overall health of their department. The system also tracks key performance metrics average response time, issues pending, average redressal time across different services, departments and wards.</p>
        <p>Be the change. Join us and urge the government to implement the system at their end for more accessible and accountable governance.</p>

        <a name="3"></a>
        <h3 data-magellan-destination="3">Our Story</h3>
        <h4>Audacity, Clarity and Excellence.</h4>
        <p>Mutiny Labs is a product design startup from Delhi, India that builds and scales web and mobile products. They recently launched a cloud based product called Ingage, that helps companies listen and learn from their customer feedback.</p>
        <p>Meri Awaaz uses the core Ingage technology engine at the backend and also leverages the Ingage Dashboard for the government side of the system. Their vision is to enable customer centric organisations and Meri Awaaz is a bold experiment to enable citizen centric governments for social change. The startup aims to build world class products from India that align with their vision of the world. They also work with other organisations to strategize and execute their digital arms and customer experience initiatives.</p>

        <a name="4"></a>
        <h3 data-magellan-destination="4">App Walkthrough</h3>

        <div class="row">
            <div class="small-4 walkthrough columns text-center">
                <a data-orbit-link="slide-1">
                    <div class="circles">1</div>
                    <h6>Location and Complaint type</h6>
                </a>

                <a data-orbit-link="slide-2">
                    <div class="circles">2</div>
                    <h6>File complaint and Image</h6>
                </a>

                <a data-orbit-link="slide-3">
                    <div class="circles">3</div>
                    <h6>Sign up</h6>
                </a>

                <a data-orbit-link="slide-4">
                    <div class="circles">4</div>
                    <h6>Spread the word</h6>
                </a>
            </div>
            <div class="small-8 columns">
                <ul class="app-slider" data-orbit>
                    <li data-orbit-slide="slide-1">
                        <img src="assets/images/1.png"/>
                    </li>
                    <li data-orbit-slide="slide-2">
                        <img src="assets/images/2.png"/>
                    </li>
                    <li data-orbit-slide="slide-3">
                        <img src="assets/images/3.png"/>
                    </li>
                    <li data-orbit-slide="slide-4">
                        <img src="assets/images/4.png"/>
                    </li>
                </ul>
            </div>
        </div>

        <a name="5"></a>
        <h3 data-magellan-destination="5">Brand Guidelines</h3>
        <a href="downloads/meriawaaz-brand-assets-[press].zip" download class="button right tiny secondary">Download brand files</a>
        <h5 class="b-ws-top">Logo with mark</h5>
        <img src="assets/images/logo.png">
        <h5 class="b-ws-top">Logo without mark</h5>
        <img src="assets/images/logo-full.png">


        <a name="6"></a>
        <h3 data-magellan-destination="6">Appreciation</h3>
        <h4 class="m-ws-top">What people are saying about us</h4>
        <div class="row">
        <div class="small-4 columns">
        Coming soon
        </div>
        <div class="small-4 columns">
        
        </div>
        <div class="small-4 columns">
        
        </div>
        </div>

        <h4 class="m-ws-top">Friends of Meri Awaaz</h4>
        <ul class="small-block-grid-5 text-center">
            <!-- <li><img class="circle-img" src="http://api.randomuser.me/portraits/med/men/68.jpg"><br>Levi Mitchell</li>
            <li><img class="circle-img" src="http://api.randomuser.me/portraits/med/men/49.jpg"><br>Freddie Horton</li>
            <li><img class="circle-img" src="http://api.randomuser.me/portraits/med/men/92.jpg"><br>Alberto Hoffman</li>
            <li><img class="circle-img" src="http://api.randomuser.me/portraits/med/women/15.jpg"><br>Charlotte Frazier</li> -->
            <li>Want to contribute?<a href="mailto:friends@mutinylabs.in">Reach out</a></li>
        </ul>

        <a name="7"></a>
        <h3 data-magellan-destination="7">Future Quest</h3>
        <p>Accessibility of governance services using mobile access is only the first step. Meri Awaaz seeks to promote accountability in governance services. The goal is a world where governments are open, transparent and efficient. </p>
        <p>The system is effective when the government uses it. The team is looking to get the government to use the system including core routing technology and the Dashboard to allow responsible officials to access and respond to these citizen issues efficiently while fixing responsibility and improving accountability of the system as a whole.
        </p>
        
        <a name="8"></a>
        <h3 data-magellan-destination="8">Team</h3>
        <img src="http://placehold.it/1600x900" class="b-ws-bottom">
        <div class="row">
            <div class="small-6 columns text-right">
                <h5><strong>Aditya Nayak</strong><br>Founder</h5>
                <h5><strong>Shashank Gautam</strong><br>Marketing</h5>
                <h5><strong>Vinayak Chopra</strong><br>Marketing</h5>
            </div>
            <div class="small-6 columns">
                <h5><strong>Ayush Goel</strong><br>Product</h5>
                <h5><strong>Shubham Singh</strong><br>Product</h5>
                <h5><strong>Vedant Swain</strong><br>Product</h5>
            </div>
        </div>
        
        <a name="9"></a>
        <h3 data-magellan-destination="7">Contact</h3>
            <div class="row">
                <div class="small-6 columns ">
                    <h5><strong>Email</strong><br><a href="mailto:meriawaaz@mutinylabs.in">meriawaaz@mutinylabs.in</a></h5>
                    <h5><strong>Twitter</strong><br><a href="http://twitter.com/meriawaazapp">twitter.com/meriawaazapp</a></h5>
                    <h5><strong>Facebook</strong><br><a href="http://facebook.com/meriawaazapp">facebook.com/meriawaazapp</a></h5>
                    <h5><strong>Web</strong><br><a href="http://meriawaazapp.com">meriawaazapp.com</a></h5>
                </div>
            </div>
        <a name="10"></a>
        <h3 data-magellan-destination="10">Media Spotlight</h3>
        <p>Coming Soon</p>
        </div>
        <div class="small-3 columns">
        &nbsp;
        </div>
    </div>
    <div class="row">
    <hr>
        <div class="small-4 columns">
            <ul class="inline-list secondary">
              <li><a href="#">Press</a></li>
              <li><a href="mailto:meriawaaz@mutinylabs.in">Contact</a></li>
              <li><a href="http://facebook.com/meriAwaazapp" target="_blank">Facebook</a></li>
              <li><a href="http://twitter.com/meriAwaazapp" target="_blank">Twitter</a></li>
              <li><a href="https://plus.google.com/b/116904166401766610185" rel="publisher" target="_blank">Google+</a></li>
            </ul>
        </div>
    </div>
    <script src="assets/bower_components/jquery/jquery.js"></script>
    <script src="assets/bower_components/foundation/js/foundation.min.js"></script>
    <script src="assets/bower_components/foundation/js/foundation/foundation.magellan.js"></script>
    <script src="assets/bower_components/foundation/js/foundation/foundation.orbit.js"></script>
    <script>
    $(document).foundation({
        magellan: {
        active_class: 'active',
        threshold: 0,
        destination_threshold: 20,
        throttle_delay: 50 
        },
        orbit: {
            animation: 'fade', 
            timer: false,
            }
    });
    $(document).ready(function(){
        $('.walkthrough .circles').click(function(event){
            $('.circles.active').removeClass('active');
            $(this).addClass('active');event.preventDefault();
        });        
    });
    </script>

</body>
</html>
