<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile | Meri Awaaz</title>

  {% include header.html %}
  <div class="row" style="margin-top:12em;">
    <div class="small-offset-3 small-2 columns">
      <span id="bsupport" class="f-3x yc">...</span><span class="secondary secondary-color"> supporters</span>
    </div>
    <div class="small-4 columns m-ws-top">
      <div id="support" class="l-lc text-right secondary-color" style="width:63%">Loading...</div>
      <div id="skeptics" class="d-lc secondary-color" style="width:35%">Loading...</div>
    </div>
    <div class="small-3 columns text-right s-ws-top">
      <h3 id="election" class="subheader">Loading...</h3>
    </div>
  </div>
  <div class="panel">
    <div class="row">
      <div class="small-3 columns text-right">
        <img id="photo" src="" height="300px" class="circle-img top-push">
        <h3 id="nameage" class="m-ws-top yc">Loading...</h3>
        <h4 id="party">Loading...</h4>
        <h4 id="cstate" class="s-ws-top">Loading...</h4>
        <h5 id="profession" class="subheader">Loading...</h5>
        <a href="#" class="button v2">Edit</a>
      </div>
      <div class="small-3 columns m-ws-top">
        <h4 class="bgc">Statistics</h4>
        <hr>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Education:
          </div>
          <div id="education" class="small-7 columns">
            Loading...
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Total Assets:
          </div>
          <div id="assets" class="small-7 columns">
            Loading...
          </div>
        </div>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Liabilities:
          </div>
          <div id="liabilities" class="small-7 columns">
            Loading...
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Criminal Cases:
          </div>
          <div id="ccases" class="small-7 columns">
            Loading...
          </div>
        </div>
      </div>
      <div class="small-3 columns m-ws-top">
        <h4 class="bc">Interactions</h4>
        <hr>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Followers:
          </div>
          <div id="num-followers" class="small-4 columns">
            Loading...
          </div>
        </div>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Reach:
          </div>
          <div id="num-reach" class="small-4 columns">
            Loading...
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Comments:
          </div>
          <div id="num-comments" class="small-4 columns">
            Loading...
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Questions Asked to:
          </div>
          <div id="num-qat" class="small-4 columns">
            Loading...
          </div>
        </div>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Questions Answered:
          </div>
          <div id="num-qa"class="small-4 columns">
            Loading...
          </div>
        </div>
      </div>
      <div class="small-3 columns m-ws-top">
        <h4 class="dbc">Actions</h4>
        <hr>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Team size:
          </div>
          <div id="teamsize" class="small-4 columns">
            Loading...
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Issues claimed:
          </div>
          <div id="num-iclaimed" class="small-4 columns">
            Loading...
          </div>
        </div>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Issues closed:
          </div>
          <div id="num-iclosed" class="small-4 columns">
            Loading...
          </div>
        </div>
        <div class="row">
          <div class="small-8 columns secondary-color">
            Issues Validated:
          </div>
          <div id="num-ivalidated" class="small-4 columns">
            Loading...
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div id='history' class="small-3 columns text-right s-ws-top">
          <h4>History</h4>
          <h5 class="secondary-color">Delhi Assembly Elections 2014 (Seat name)</h5>
          <h5 class="secondary-color">Lok Sabha 2014 (seat name)</h5>
      </div>
      <div class="small-3 columns m-ws-top">
        <div class="row secondary-panel">
          <div class="small-2 columns">
          <i class="icon-check gc f-2x">
          </i>
          </div>
          <div class="small-10 columns s-ws-top secondary">
          Details verified from <a href="#">profile</a> 
          </div>
        </div>
      </div>
      <div class="small-3 columns m-ws-top">
        <div class="row secondary-panel">
          <div class="small-2 columns">
          <i class="icon-check gc f-2x">
          </i>
          </div>
          <div class="small-10 columns s-ws-top secondary">
          You are doing better than your competitors. Keep going!
          </div>
        </div>
        <div class="row secondary-panel">
          <div class="small-2 columns">
          <i class="icon-tweak yc f-2x">
          </i>
          </div>
          <div class="small-10 columns s-ws-top secondary">
          You are almost at par your competitors. Buckle up!
          </div>
        </div>
        <div class="row secondary-panel">
          <div class="small-2 columns">
          <i class="icon-alert rc f-2x">
          </i>
          </div>
          <div class="small-10 columns s-ws-top secondary">
          You are starting to lag behind. Time to push harder!
          </div>
        </div>
      </div>
      <div class="small-3 columns m-ws-top">
        <div class="row secondary-panel">
          <div class="small-2 columns">
          <i class="icon-check gc f-2x">
          </i>
          </div>
          <div class="small-10 columns s-ws-top secondary">
          You are doing better than your competitors. Keep going!
          </div>
        </div>
        <div class="row secondary-panel">
          <div class="small-2 columns">
          <i class="icon-tweak yc f-2x">
          </i>
          </div>
          <div class="small-10 columns s-ws-top secondary">
          You are almost at par your competitors. Buckle up!
          </div>
        </div>
        <div class="row secondary-panel">
          <div class="small-2 columns">
          <i class="icon-alert rc f-2x">
          </i>
          </div>
          <div class="small-10 columns s-ws-top secondary">
          You starting to lag behind. Time to push harder!
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %} 
  <script type="text/javascript" src="{{site.url}}/assets/js/profile.js"></script>

  <script type="text/javascript">
    $(document).foundation();
  </script>
  <script>
    $( document ).ready(function() {
    });
  </script>
  </html>
