<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile | Meri Awaaz</title>

  {% include header.html %}
  <div class="row" style="margin-top:12em;">
    <div class="small-offset-3 small-2 columns">
      <span class="f-3x yc">378 </span><span class="secondary secondary-color"> supporters</span>
    </div>
    <div class="small-4 columns m-ws-top">
      <div class="l-lc text-right secondary-color" style="width:63%">378 supporters</div>
      <div class="d-lc secondary-color" style="width:35%">skeptics</div>
    </div>
    <div class="small-3 columns text-right s-ws-top">
      <h3 class="subheader">Lok Sabha 2014</h3>
    </div>
  </div>
  <div class="panel">
    <div class="row">
      <div class="small-3 columns text-right">
        <img src="{{site.url}}/assets/images/politicians/narendra-modi.jpg" class="circle-img top-push">
        <h3 class="m-ws-top yc">Narendra Modi <small>(63)</small></h3>
        <h4>Bhartiya Janta Party</h4>
        <h4 class="s-ws-top">Vadodra,<small> Gujarat</small></h4>
        <h5 class="subheader">Social and Political activity</h5>
        <a href="#" class="button v2">Edit</a>
      </div>
      <div class="small-3 columns m-ws-top">
        <h4 class="bgc">Statistics</h4>
        <hr>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Education:
          </div>
          <div class="small-7 columns">
            Post Graduate
            <br>
            M.A., Gujarat University, Ahmedabad
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Total Assets:
          </div>
          <div class="small-7 columns">
            1.65 Crores
          </div>
        </div>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Liabilities:
          </div>
          <div class="small-7 columns">
            None
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Criminal Cases:
          </div>
          <div class="small-7 columns">
            None
          </div>
        </div>
      </div>
      <div class="small-3 columns m-ws-top">
        <h4 class="bc">Interactions</h4>
        <hr>
        <div class="row">
          <div class="small-5 columns secondary-color">
            New Likes:
          </div>
          <div class="small-7 columns">
            378
          </div>
        </div>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Reach:
          </div>
          <div class="small-7 columns">
            378
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Comments:
          </div>
          <div class="small-7 columns">
            36
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Questions:
          </div>
          <div class="small-7 columns">
            78
          </div>
        </div>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Answers:
          </div>
          <div class="small-7 columns">
            3
          </div>
        </div>
      </div>
      <div class="small-3 columns m-ws-top">
        <h4 class="dbc">Activities</h4>
        <hr>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Team size:
          </div>
          <div class="small-7 columns">
            37
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Issues claimed:
          </div>
          <div class="small-7 columns">
            78
          </div>
        </div>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Issues closed:
          </div>
          <div class="small-7 columns">
            37
          </div>
        </div>
        <div class="row">
          <div class="small-5 columns secondary-color">
            Issues Validated:
          </div>
          <div class="small-7 columns">
            3
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-3 columns text-right s-ws-top">
        <h5>History</h4>
          <h5 class="secondary-color">Delhi Assembly Elections 2014 (Seat name)</h5>
          <h5 class="secondary-color">Lok Sabha 2014 (seat name)</h5>
      </div>
      <div class="small-3 columns m-ws-top">
        <div class="row secondary-panel">
          <div class="small-2 columns">
          <i class="icon-check gc f-2x">
          </i>
          </div>
          <div class="small-10 columns s-ws-top secondary">
          Details verified from <a href="#">profile</a> 
          </div>
        </div>
      </div>
      <div class="small-3 columns m-ws-top">
        <div class="row secondary-panel">
          <div class="small-2 columns">
          <i class="icon-check gc f-2x">
          </i>
          </div>
          <div class="small-10 columns s-ws-top secondary">
          You are doing better than your competitors. Keep going!
          </div>
        </div>
        <div class="row secondary-panel">
          <div class="small-2 columns">
          <i class="icon-tweak yc f-2x">
          </i>
          </div>
          <div class="small-10 columns s-ws-top secondary">
          You are almost at par your competitors. Buckle up!
          </div>
        </div>
        <div class="row secondary-panel">
          <div class="small-2 columns">
          <i class="icon-alert rc f-2x">
          </i>
          </div>
          <div class="small-10 columns s-ws-top secondary">
          You starting to lag behind. Time to push harder!
          </div>
        </div>
      </div>
      <div class="small-3 columns m-ws-top">
        <div class="row secondary-panel">
          <div class="small-2 columns">
          <i class="icon-check gc f-2x">
          </i>
          </div>
          <div class="small-10 columns s-ws-top secondary">
          You are doing better than your competitors. Keep going!
          </div>
        </div>
        <div class="row secondary-panel">
          <div class="small-2 columns">
          <i class="icon-tweak yc f-2x">
          </i>
          </div>
          <div class="small-10 columns s-ws-top secondary">
          You are almost at par your competitors. Buckle up!
          </div>
        </div>
        <div class="row secondary-panel">
          <div class="small-2 columns">
          <i class="icon-alert rc f-2x">
          </i>
          </div>
          <div class="small-10 columns s-ws-top secondary">
          You starting to lag behind. Time to push harder!
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %} 
  <script type="text/javascript" src="{{site.url}}/assets/js/dashboard.js"></script>

  <script type="text/javascript">
    $(document).foundation();
  </script>
  <script>
    $( document ).ready(function() {
    });
  </script>
  </html>
