<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Profile | Meri Awaaz</title>

  {% include header.html %}
  <div class="row" style="margin-top:12em;">
    <div class="small-offset-3 small-2 columns">
      <span class="f-3x yc">378 </span><span class="secondary secondary-color"> supporters</span>
    </div>
    <div class="small-4 columns m-ws-top">
      <div class="l-lc text-right secondary-color" style="width:63%">378 supporters</div>
      <div class="d-lc secondary-color" style="width:35%">disbelievers</div>
    </div>
    <div class="small-3 columns text-right s-ws-top">
      <h3 class="subheader">Lok Sabha 2014</h3>
    </div>
  </div>
  <div class="panel">
    <div class="row">
      <div class="small-3 columns text-right">
        <img src="{{site.url}}/assets/images/politicians/narendra-modi.jpg" class="circle-img top-push">
        <h3 class="m-ws-top yc">Narendra Modi <small>(63)</small></h3>
        <h4>Bhartiya Janta Party</h4>
        <h4 class="s-ws-top">Vadodra,<small> Gujarat</small></h4>
        <h5 class="subheader">Social and Political activity</h5>
        <a href="#" class="button v2">Edit</a>
      </div>
      <div class="small-3 columns m-ws-top">
        <h4 class="bgc">Statistics</h4>
        <hr>
        <div class="row">
          <div class="small-5 columns">
            Education:
          </div>
          <div class="small-7 columns">
            <strong>Post Graduate</strong>
            <br>
            M.A., Gujarat University, Ahmedabad
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-5 columns">
            Total Assets:
          </div>
          <div class="small-7 columns">
            <strong>1.65 Crores</strong>
          </div>
        </div>
        <div class="row">
          <div class="small-5 columns">
            Liabilities:
          </div>
          <div class="small-7 columns">
            <strong>None</strong>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-5 columns">
            Criminal Cases:
          </div>
          <div class="small-7 columns">
            <strong>None</strong>
          </div>
        </div>
      </div>
      <div class="small-3 columns m-ws-top">
        <h4 class="bc">Interactions</h4>
        <hr>
        <div class="row">
          <div class="small-5 columns">
            New Likes:
          </div>
          <div class="small-7 columns">
            <strong>378</strong>
          </div>
        </div>
        <div class="row">
          <div class="small-5 columns">
            Reach:
          </div>
          <div class="small-7 columns">
            <strong>378</strong>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-5 columns">
            Comments:
          </div>
          <div class="small-7 columns">
            <strong>36</strong>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-5 columns">
            Questions:
          </div>
          <div class="small-7 columns">
            <strong>78</strong>
          </div>
        </div>
        <div class="row">
          <div class="small-5 columns">
            Answers:
          </div>
          <div class="small-7 columns">
            <strong>3</strong>
          </div>
        </div>
      </div>
      <div class="small-3 columns m-ws-top">
        <h4 class="dbc">Activities</h4>
        <hr>
        <div class="row">
          <div class="small-5 columns">
            Team size:
          </div>
          <div class="small-7 columns">
            <strong>37</strong>
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="small-5 columns">
            Issues claimed:
          </div>
          <div class="small-7 columns">
            <strong>78</strong>
          </div>
        </div>
        <div class="row">
          <div class="small-5 columns">
            Issues closed:
          </div>
          <div class="small-7 columns">
            <strong>37</strong>
          </div>
        </div>
        <div class="row">
          <div class="small-5 columns">
            Issues Validated:
          </div>
          <div class="small-7 columns">
            <strong>3</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include footer.html %} 
<script type="text/javascript" src="{{site.url}}/assets/js/dashboard.js"></script>

<script type="text/javascript">
  $(document).foundation();
</script>
<script>
  $( document ).ready(function() {
  });
</script>
</html>
