<!doctype html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Q & A | Meri Awaaz</title>

  {% include header.html %}

  <div id="single-qa-view" class="row">
    <div class="small-2 columns b-ws-top text-right">
      <div class="row">
        <div class="small-12 columns secondary">
          <i class="icon-clock dbc"></i> 9:32 PM
        </div>
        <div class="small-12 columns secondary">
          <i class="icon-calendar dbc"></i> 2 October, 2014
        </div>
        <div class="small-12 columns secondary">
          <i class="icon-location dbc"></i> Vadodra
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="small-7 columns text-right s-ws-top">
         asked by
       </div>
       <div class="small-5 columns">
        <img src="http://api.randomuser.me/portraits/med/women/81.jpg" class="circle-img gs hv">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="small-7 columns text-right s-ws-top">
        asked to
      </div>
      <div class="small-5 columns">
        <img src="{{site.url}}/assets/images/politicians/narendra-modi.jpg" class="circle-img gs hv">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="small-7 columns text-right s-ws-top">
        open to
      </div>
      <div class="small-5 columns">
        <img src="{{site.url}}/assets/images/politicians/narendra-modi.jpg" class="circle-img gs hv">
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="small-12 columns">
        Participants
      </div>
      <div class="small-12 columns s-ws-top">
        <ul class="small-block-grid-4">
          <li><img src="http://api.randomuser.me/portraits/med/women/81.jpg" class="circle-img gs hv"></li>
          <li><img src="http://api.randomuser.me/portraits/med/women/8.jpg" class="circle-img gs hv"></li>
          <li><img src="http://api.randomuser.me/portraits/med/women/83.jpg" class="circle-img gs hv"></li>
          <li><img src="http://api.randomuser.me/portraits/med/women/84.jpg" class="circle-img gs hv"></li>
          <li><img src="http://api.randomuser.me/portraits/med/women/80.jpg" class="circle-img gs hv"></li>
          <li><img src="http://api.randomuser.me/portraits/med/women/89.jpg" class="circle-img gs hv"></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="small-8 columns panel">
    <h3>Title</h3>
    <hr>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>

    <p>Section 1.10.32 of "de Finibus Bonorum et Malorum", written by Cicero in 45 BC</p>

    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"</p>

    <hr>

    <div class="row">
      <div class="small-3 columns text-right m-ws-top">
        <div class="row">
          <div class="small-5 columns small-offset-7">
            <img src="http://api.randomuser.me/portraits/med/men/89.jpg" class="circle-img gs hv">
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns secondary s-ws-top">
            <i class="icon-clock secondary-color"></i> 9:32 PM
          </div>
          <div class="small-12 columns secondary">
            <i class="icon-calendar secondary-color"></i> 2 October, 2014
          </div>
          <div class="small-12 columns secondary">
            <i class="icon-location secondary-color"></i> Vadodra
          </div>
        </div>
      </div>
      <div class="small-9 columns secondary-panel m-ws-top">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns text-right m-ws-top">
        <div class="row">
          <div class="small-5 columns small-offset-7">
            <img src="{{site.url}}/assets/images/user.png" class="circle-img">
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns secondary s-ws-top">
            <i class="icon-clock secondary-color"></i> 9:40 PM
          </div>
          <div class="small-12 columns secondary">
            <i class="icon-calendar secondary-color"></i> 4 October, 2014
          </div>
          <div class="small-12 columns secondary">
            <i class="icon-location secondary-color"></i> Vadodra
          </div>
        </div>
      </div>
      <div class="small-9 columns secondary-panel m-ws-top">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns text-right m-ws-top">
        <div class="row">
          <div class="small-5 columns small-offset-7">
            <img src="{{site.url}}/assets/images/user.png" class="circle-img bbr">
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns secondary s-ws-top">
            <i class="icon-clock secondary-color"></i> 9:40 PM
          </div>
          <div class="small-12 columns secondary">
            <i class="icon-calendar secondary-color"></i> 4 October, 2014
          </div>
          <div class="small-12 columns secondary">
            <i class="icon-location secondary-color"></i> Vadodra
          </div>
        </div>
      </div>
      <div class="small-9 columns secondary-panel m-ws-top">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns text-right m-ws-top">
        <div class="row">
          <div class="small-4 columns small-offset-3 s-ws-top">
            <img src="{{site.url}}/assets/images/neta.png" class="circle-img">
          </div>
          <div class="small-5 columns">
            <img src="{{site.url}}/assets/images/politicians/narendra-modi.jpg" class="circle-img gs hv">
          </div>
        </div>
        <div class="row">
          <div class="small-12 columns secondary s-ws-top">
            <i class="icon-clock secondary-color"></i> 9:40 PM
          </div>
          <div class="small-12 columns secondary">
            <i class="icon-calendar secondary-color"></i> 4 October, 2014
          </div>
          <div class="small-12 columns secondary">
            <i class="icon-location secondary-color"></i> Vadodra
          </div>
        </div>
      </div>
      <div class="small-9 columns secondary-panel m-ws-top">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
      </div>
    </div>

    <div class="row">
      <div class="small-3 columns text-right m-ws-top">
        <div class="row">
          <div class="small-5 small-offset-7 columns">
            <img src="http://api.randomuser.me/portraits/med/men/9.jpg" class="circle-img gs hv">
          </div>
        </div>
      </div>
      <div class="small-9 columns m-ws-top">
        <textarea></textarea>
        <div class="button small">Add Comment</div>
      </div>
    </div>    


  </div>
  <div class="small-2 columns">
    Actions
  </div>

</div>

{% include footer.html %} 
<script type="text/javascript" src="{{site.url}}/assets/js/dashboard.js"></script>

<script type="text/javascript">
  $(document).foundation();
</script>
<script>
  $( document ).ready(function() {
    });
</script>
</html>
