<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Questions and Answers | Meri Awaaz</title>

  {% include header.html %}

  <div id="list-qa-view" class="row">
    <div class="small-3 columns text-right">
      <ul class="side-nav">
        <li><strong>Filter</strong></li>
        <li><a href="#" id="all">All</a></li>

        <!--<li><a href="#" id="you">Asked to You</a></li>
        <li><a href="#" id="open">Open</a></li>-->
        <li><a href="#" id="following">Following</a></li>
		<li><a href="#" id="my">Asked</a></li>
      </ul>
    </div>
    <div class="small-9 columns panel">
      <div class="row">
        <div class="small-12 columns">
        <h6>Ask a question to your voters</h6>
        </div>
        <form id="question-form">
        <textarea id="questiontitle" rows="1" /required>Title</textarea>
		<textarea id="questionbox" rows="3" /required>What's on your mind?</textarea>
        <input id="commit_btn2" type="submit" value="Ask Question" class="button small load-fx right">
        </form>
      </div>
      <div class="row">
        <div class="small-10 columns small-centered">
          <hr>
        </div>
      </div>
      <div id="qView">
      </div>
    </div>
  </div>

  <div id="single-qa-view" class="row" style="display:none;">
    <div class="small-2 columns text-right">
      <div class="s-ws-top b-ws-bottom">
        <div id="back"><i class="icon-left"></i> <a class="font-2x">Back</a></div>
      </div>
      <div class="row">
        <div class="small-12 columns secondary">
          <i class="icon-clock secondary-color"></i> <span id="singtime"></span> 
        </div>
        <div class="small-12 columns secondary">
          <i class="icon-calendar secondary-color"></i> <span id="singdate"></span> 
        </div>
        <div class="small-12 columns secondary">
          <i class="icon-location secondary-color"></i> <span id="singplace" class="ct"></span> 
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="small-7 columns text-right s-ws-top">
         asked by
       </div>
       <div class="small-5 columns" id="askedbyphoto">
        <img src="./assets/images/asker.png" class="circle-img">
      </div>
    </div>
    <hr>
    <!--<div class="row">
      <div class="small-7 columns text-right s-ws-top">
        asked to
      </div>
      <div class="small-5 columns" id="askedtophoto">
        <img src="./assets/images/asker.png" class="circle-img">
      </div>
    </div>-->
    <hr>
    <div class="row">
      <!--<div class="small-7 columns text-right s-ws-top">
        open to
      </div>
      <div class="small-5 columns" id="opentoarea">
        
      </div>-->
    </div>
    <hr>
    <div class="row">
      <div class="small-12 columns">
        Participants
      </div>
      <div class="small-12 columns s-ws-top">
        <ul class="small-block-grid-4" id="participants">
          
        </ul>
      </div>
    </div>
  </div>
  <div class="small-8 columns panel">
    <div id="que-view">
    
    </div>
    <hr>
    <div id="ans-view">
    </div>

    <div class="row">
    <a name="answer-box"></a>
      <div class="small-3 columns text-right m-ws-top">
        <div class="row">
          <div class="small-5 small-offset-7 columns">
            <img id="myphoto" src="./assets/images/neta.png" class="circle-img">
          </div>
        </div>
      </div>
      <div class="small-9 columns m-ws-top">
       <form id="answer-form">
        <textarea id="answerbox" rows="6" /required></textarea>
        <input id="commit_btn" type="submit" value="Add Answer" class="button small load-fx right">
        </form>
      </div>
    </div>    


  </div>
  <div class="small-2 columns b-ws-top">
    <a href="#answer-box" class="button small fullwidth">Add Answer</a>
    <h5>Question Stats</h5>
    <div class="row">
      <div class="small-6 columns text-right secondary">
        Views: 
      </div>
      <div class="small-6 columns">
        <span id="singviews">Loading...</span>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns text-right secondary">
        Followers: 
      </div>
      <div class="small-6 columns">
        <span id="singfollowers">Loading...</span>
      </div>
    </div>
    <div class="row">
      <div class="small-6 columns text-right secondary">
        Last Activity: 
      </div>
      <div class="small-6 columns">
        <span id="singlast">Loading...</span>
      </div>
    </div>

  </div>

</div>

{% include footer.html %} 
<script type="text/javascript" src="{{site.url}}/assets/js/q-a.js"></script>

<script type="text/javascript">
  $(document).foundation();

</script>
<script>
initialize();
  
</script>
</html>
